{% load notifications_tags %}
<nav id="menu3" class="bar bar--sm bar-1 bg--secondary ">
                <div class="container" style="max-width:90%">
                    <div class="row">
                        <div class="col-lg-12 col-md-12 text-right text-left-xs text-left-sm">
                            <div class="bar__module">
                                <div class="row">
                                    <div class="col-md-1 full-width masonry__item">
                                        <div
                                            {% if activeDashboardMenu == "users" %}
                                                class="card card-1 boxed boxed--sm boxed--border dashboard-menu-active"
                                            {% else %}
                                                class="card card-1 boxed boxed--sm boxed--border"
                                            {% endif %}
                                        >
                                            <a href="/admin/users">
                                                <center>
                                                    <i class="far fa-user fa-2x"></i>
                                                    <p>
                                                        Users
                                                    </p>
                                                </center>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-1 full-width masonry__item">
                                        <div
                                            {% if activeDashboardMenu == "featured" %}
                                                class="card card-1 boxed boxed--sm boxed--border dashboard-menu-active"
                                            {% else %}
                                                class="card card-1 boxed boxed--sm boxed--border"
                                            {% endif %}
                                        >
                                            <a href="{% url 'admin_featured_main' %}">
                                                <center>
                                                    <i class="far fa-star fa-2x"></i>
                                                    <p>
                                                        Featured
                                                    </p>
                                                </center>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-1 full-width masonry__item">
                                        <div
                                                {% if activeDashboardMenu == "requests" %}
                                                    class="card card-1 boxed boxed--sm boxed--border dashboard-menu-active"
                                                {% else %}
                                                    class="card card-1 boxed boxed--sm boxed--border"
                                                {% endif %}
                                        >
                                            <a href="/admin/requests">
                                                <center>
                                                    <i class="far fa-edit fa-2x"></i>
                                                    <p>
                                                        Requests
                                                        <span id="requests_count"></span>
                                                    </p>
                                                </center>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-1 full-width masonry__item">
                                        <div
                                                {% if activeDashboardMenu == "products" %}
                                                    class="card card-1 boxed boxed--sm boxed--border dashboard-menu-active"
                                                {% else %}
                                                    class="card card-1 boxed boxed--sm boxed--border"
                                                {% endif %}
                                        >
                                            <a href="/admin/products">
                                                <center>
                                                    <i class="far fa-images fa-2x"></i>
                                                    <p>
                                                        Products
                                                        <span id="products_count"></span>
                                                    </p>
                                                </center>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-1 full-width masonry__item">
                                        <div
                                            {% if activeDashboardMenu == "collections" %}
                                                class="card card-1 boxed boxed--sm boxed--border dashboard-menu-active"
                                            {% else %}
                                                class="card card-1 boxed boxed--sm boxed--border"
                                            {% endif %}
                                        >
                                            <a href="{% url 'admin_collections_main' %}">
                                                <center>
                                                    <i class="far fa-images fa-2x"></i>
                                                    <p>
                                                        Collections
                                                    </p>
                                                </center>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-1 full-width masonry__item">
                                        <div
                                                {% if activeDashboardMenu == "categories" %}
                                                    class="card card-1 boxed boxed--sm boxed--border dashboard-menu-active"
                                                {% else %}
                                                    class="card card-1 boxed boxed--sm boxed--border"
                                                {% endif %}
                                        >
                                            <a href="/admin/categories">
                                                <center>
                                                    <i class="fas fa-file-contract fa-2x"></i>
                                                    <p>
                                                        Categories
                                                    </p>
                                                </center>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-1 full-width masonry__item">
                                        <div
                                            {% if activeDashboardMenu == "reviews" %}
                                                class="card card-1 boxed boxed--sm boxed--border dashboard-menu-active"
                                            {% else %}
                                                class="card card-1 boxed boxed--sm boxed--border"
                                            {% endif %}
                                        >
                                            <a href="/admin/reviews">
                                                <center>
                                                    <i class="far fa-comments fa-2x"></i>
                                                    <p>
                                                        Reviews
                                                        <span id="reviews_count"></span>
                                                    </p>
                                                </center>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-1 full-width masonry__item">
                                        <div
                                            {% if activeDashboardMenu == "legal" %}
                                                class="card card-1 boxed boxed--sm boxed--border dashboard-menu-active"
                                            {% else %}
                                                class="card card-1 boxed boxed--sm boxed--border"
                                            {% endif %}
                                        >
                                            <a href="{% url 'admin_legal_main' %}">
                                                <center>
                                                    <i class="far fa-file-alt fa-2x"></i>
                                                    <p>
                                                        Legal
                                                    </p>
                                                </center>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-1 full-width masonry__item">
                                        <div
                                            {% if activeDashboardMenu == "orders" %}
                                                class="card card-1 boxed boxed--sm boxed--border dashboard-menu-active"
                                            {% else %}
                                                class="card card-1 boxed boxed--sm boxed--border"
                                            {% endif %}
                                        >
                                            <a href="{% url 'admin_orders_main' %}">
                                                <center>
                                                    <i class="fas fa-box fa-2x"></i>
                                                    <p>
                                                        Orders
                                                    </p>
                                                </center>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-1 full-width masonry__item">
                                        <div
                                                {% if activeDashboardMenu == "earnings" %}
                                                    class="card card-1 boxed boxed--sm boxed--border dashboard-menu-active"
                                                {% else %}
                                                    class="card card-1 boxed boxed--sm boxed--border"
                                                {% endif %}
                                        >
                                            <a href="{% url 'admin_earnings_main' %}">
                                                <center>
                                                    <i class="fas fa-money-bill-wave-alt fa-2x"></i>
                                                    <p>
                                                        Earnings
                                                    </p>
                                                </center>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-2 full-width masonry__item">
                                        <div
                                            {% if activeDashboardMenu == "keywords" %}
                                                class="card card-1 boxed boxed--sm boxed--border dashboard-menu-active"
                                            {% else %}
                                                class="card card-1 boxed boxed--sm boxed--border"
                                            {% endif %}
                                        >
                                            <a href="{% url 'admin_search_keywords_main' %}">
                                                <center>
                                                    <i class="fa fa-search fa-2x"></i>
                                                    <p>
                                                        Search Keywords
                                                    </p>
                                                </center>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-1 full-width masonry__item">
                                        <div
                                            {% if activeDashboardMenu == "reports" %}
                                                class="card card-1 boxed boxed--sm boxed--border dashboard-menu-active"
                                            {% else %}
                                                class="card card-1 boxed boxed--sm boxed--border"
                                            {% endif %}
                                        >
                                            <a href="{% url 'admin_reports_main' %}">
                                                <center>
                                                    <i class="fas fa-file-contract fa-2x"></i>
                                                    <p>
                                                        Reports
                                                    </p>
                                                </center>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-1 full-width masonry__item">
                                        <div
                                            {% if activeDashboardMenu == "faqs" %}
                                                class="card card-1 boxed boxed--sm boxed--border dashboard-menu-active"
                                            {% else %}
                                                class="card card-1 boxed boxed--sm boxed--border"
                                            {% endif %}
                                        >
                                            <a href="/admin/faqs">
                                                <center>
                                                    <i class="far fa-question-circle fa-2x"></i>
                                                    <p>
                                                        FAQ
                                                        <span id="faqs_count"></span>
                                                    </p>
                                                </center>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="col-md-1 full-width masonry__item">
                                        <div
                                            {% if activeDashboardMenu == "notifications" %}
                                                class="card card-1 boxed boxed--sm boxed--border dashboard-menu-active"
                                            {% else %}
                                                class="card card-1 boxed boxed--sm boxed--border"
                                            {% endif %}
                                        >
                                            <a href="/admin/notices">
                                                <center>
                                                    <i class="far fa-bell fa-2x"></i>
                                                    <p>
                                                        Notifications
                                                        {% notifications_unread as unread_count %}
                                                        {% if unread_count %}
                                                        <span id="notifications_count" class="label label-danger" style="min-width:10px">{{ unread_count }}</span>
                                                        {% endif %}
                                                    </p>
                                                </center>
                                            </a>
                                        </div>
                                    </div>
                                    <!--
                                    <div class="col-md-2 masonry__item">
                                        <div
                                            {% if activeDashboardMenu == "account_settings" %}
                                                class="card card-1 boxed boxed--sm boxed--border dashboard-menu-active"
                                            {% else %}
                                                class="card card-1 boxed boxed--sm boxed--border"
                                            {% endif %}
                                        >
                                                <a href="#">
                                                    <center>
                                                        <i class="fa fa-cog fa-2x"></i>
                                                        <p>
                                                            Settings
                                                        </p>
                                                    </center>
                                                </a>
                                        </div>
                                    </div>
                                    -->
                                </div>
                            </div>
                            <!--end module-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </nav>