
<nav id="menu4" class="bar bar--sm bar-1 bg--secondary ">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 text-right text-left-xs text-left-sm">
                <div class="bar__module">
                    <div class="row">
                        <div class="col-md-1 full-width masonry__item">
                            <div
                                    {% if activeDashboardMenu == "products" %}
                                        class="card card-1 boxed boxed--sm boxed--border dashboard-menu-active"
                                    {% else %}
                                        class="card card-1 boxed boxed--sm boxed--border"
                                    {% endif %}
                            >
                                <a href="{% url 'reviewer_products_main' %}">
                                    <center>
                                        <i class="far fa-images fa-2x"></i>
                                        <p>
                                            Products
                                            <span id="products_count"></span>
                                        </p>
                                    </center>
                                </a>
                            </div>
                        </div>
                        <div class="col-md-2 masonry__item">
                            <div
                                {% if activeDashboardMenu == "account_settings" %}
                                    class="card card-1 boxed boxed--sm boxed--border dashboard-menu-active"
                                {% else %}
                                    class="card card-1 boxed boxed--sm boxed--border"
                                {% endif %}
                            >
                                    <a href="/account_settings">
                                        <center>
                                            <i class="fa fa-cog fa-2x"></i>
                                            <p>
                                                Account Settings
                                            </p>
                                        </center>
                                    </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--end module-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</nav>