{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load thumbnail %}

{% block title %}
Featured
{% endblock %}

{% block content %}

    <section class="bg--secondary space--sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="boxed boxed--lg boxed--border">
                        <div id="products" class="account-tab">
                            <h4>
                                Featured
                            </h4>
                            <div class="tabs-container" data-content-align="left">
                                <ul class="tabs">
                                    <li class="active">
                                        <div class="tab__title">
                                            <span class="h5">Contributors</span>
                                        </div>
                                        <div class="tab__content">
                                            <a class="btn btn--primary btn--icon pull-right" href="{% url 'admin_featured_contributor_edit' %}">
                                                <span class="btn__text">
                                                <i class="fa fa-edit"></i> Edit</span>
                                            </a>
                                            {% if contributors %}
                                                <div class="custom-scroll table-responsive">
                                                    <table id="sliderImagesTable" class="table table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Contributor</th>
                                                          </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for contributor in contributors %}
                                                                <tr>
                                                                    <td><a href="{% url 'other_profile' contributor%}">{{contributor}}</a></td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            {% else %}
                                                There are no contributors
                                            {% endif %}
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title">
                                            <span class="h5">Products</span>
                                        </div>
                                        <div class="tab__content">
                                            <a class="btn btn--primary btn--icon pull-right" href="{% url 'admin_featured_product_edit' %}">
                                                <span class="btn__text">
                                                <i class="fa fa-edit"></i> Edit</span>
                                            </a>
                                            {% if products %}
                                                <div class="custom-scroll table-responsive">
                                                    <table id="productsTable" class="table table-bordered table-hover">
                                                        <thead>
                                                            <tr>
                                                                <th>Product</th>
                                                          </tr>
                                                        </thead>
                                                        <tbody>
                                                            {% for product in products %}
                                                                <tr>
                                                                    <td><a href="{{ product.thumbnail.url }}"><img src="{{ product.thumbnail.url }}"></a></td>
                                                                </tr>
                                                            {% endfor %}
                                                        </tbody>
                                                    </table>
                                                </div>
                                            {% else %}
                                                There are no products
                                            {% endif %}
                                        </div>
                                    </li>
                                </ul>
                            </div><!--end of tabs container-->
                        </div>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

{% endblock %}