{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load my_tags %}
{% block title %}
Featured Contributors
{% endblock %}

{% block content %}

<section class="bg--secondary space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="boxed boxed--lg boxed--border">
                                <h4>Featured Contributors</h4>
                                <hr>
                                {% if contributors %}
                                    <form method="post" action="">
                                        {% csrf_token %}
                                        <div class="masonry__container row masonry--active">
                                            {% for contributor in contributors %}
                                                <div class="masonry__item col-lg-4 col-6" style="margin-bottom:3em">
                                                    <a href="{% url 'other_profile' contributor %}">
                                                        <p>{{contributor.first_name}} {{contributor.last_name}}</p>
                                                        {% if contributor.profile_image_url %}
                                                            <a href="{{contributor.profile_image_url}}">
                                                                <img alt="avatar" src="{{contributor.profile_image_crop.url}}" class="image--md img-circle">
                                                            </a>
                                                        {% else %}
                                                            <a href="{% static 'ssw/img/default-avatar.png' %}">
                                                                <img alt="avatar" src="{% static 'ssw/img/default-avatar.png' %}" class="image--md img-circle">
                                                            </a>
                                                        {% endif %}
                                                    </a>
                                                    <br>
                                                    <div class="input-checkbox input-checkbox--switch">
                                                        <input  id="{{contributor.pk}}" type="checkbox" name="contributors" value="{{contributor.pk}}" {% if contributor.featured %}checked{% endif %} />
                                                        <label for="{{contributor.pk}}"></label>
                                                    </div>
                                                </div>
                                            {% endfor %}
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3 col-md-4">
                                                <button type="submit" class="btn btn--primary type--uppercase">Save</button>
                                            </div>
                                            <div class="col-lg-3 col-md-4">
                                                <a href="/admin/featured" class="btn btn--default type--uppercase">Cancel</a>
                                            </div>
                                        </div>
                                    </form>
                                {% else %}
                                    There are currently no contributors to choose from.
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

{% endblock %}