{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load thumbnail %}

{% block title %}
Order {{order.order_no}}
{% endblock %}

{% block content %}

<section class="bg--secondary space--sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="boxed boxed--lg boxed--border">
                    <h4>Order {{order.order_no}}</h4>
                    <ol class="breadcrumbs">
                        <li>
                            {% if user.type == "client" %}
                                <a href="{% url 'orders' %}">Orders</a>
                            {% elif user.type == "admin" %}
                                <a href="{% url 'admin_orders_main' %}">Orders</a>
                            {% endif %}
                        </li>
                        <li>{{order.order_no}}</li>
                    </ol>
                    <hr>
                    <div class="custom-scroll table-responsive">
                        <table id="ordersTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>Thumbnail</th>
                                    <th>File</th>
                                    <th>Product Name</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in order.orderitem.all %}
                                    <tr>
                                        <td><img src="{{item.product.thumbnail.url}}"></td>
                                        <td>
                                            {% if item.product.file_type == "jpeg" %}
                                                <a href="{{item.product.image.url}}">View/Download</a>
                                            {% else %}
                                                <a href="{{item.product.file.url}}">View/Download</a>
                                            {% endif %}
                                        </td>
                                        <td>{{ item.product }}</td>
                                        <td>${{ item.price }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row-->
        <div class="row mt--2">
            <div class="col-md-12">
                <div class="boxed boxed--border cart-total">
                    <div class="row">
                        <div class="col-6">
                            <span class="h5">Order Subtotal:</span>
                        </div>
                        <div class="col-6 text-right">
                            <span>${{order.total}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="h5">Fees:</span>
                        </div>
                        <div class="col-6 text-right">
                            <span>$0</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <span class="h5">Total:</span>
                        </div>
                        <div class="col-6 text-right">
                            <span class="h5">${{order.total}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

{% endblock %}