{% extends "ssw/main.html" %}
{% load static from staticfiles %}

{% block title %}
Products
{% endblock %}

{% block content %}

    <section class="bg--secondary space--sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="boxed boxed--lg boxed--border">
                        <div id="products" class="account-tab">
                            <h4>
                                Products
                            </h4>
                            <div class="tabs-container" data-content-align="left">
                                <ul class="tabs">
                                    <li class="active">
                                        <div class="tab__title">
                                            <span class="h5">Pending Approval</span>
                                        </div>
                                        <div class="tab__content">
                                            {% if pending %}
                                                <div class="custom-scroll table-responsive">
                                                  <table id="pendingProductsTable" class="table table-bordered table-hover">
                                                      <thead>
                                                      <tr>
                                                          <th>Photo Id</th>
                                                          <th>Thumbnail</th>
                                                          <th>Title</th>
                                                          <th>User</th>
                                                          <th>Upload Date</th>
                                                      </tr>
                                                      </thead>
                                                      <tbody>
                                                      {% for product in pending %}
                                                        <tr>
                                                            <td><a href="{% url 'product_pending' product.public_id %}">{{ product.public_id }}</a></td>
                                                            <td><a href="{{ product.get_display_image }}"><img src="{{ product.thumbnail.url }}"></a></td>
                                                            <td>{{ product.title }}</td>
                                                            <td><a href="{% url 'other_profile' product.owner.username %}">{{ product.owner }}</a></td>
                                                            <td>{{product.created_at}}</td>
                                                        </tr>
                                                      {% endfor %}
                                                      </tbody>
                                                  </table>
                                                </div>
                                            {% else %}
                                            <b>There are no pending approval products</b>
                                            {% endif %}
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title">
                                            <span class="h5">Pending Admin Approval</span>
                                        </div>
                                        <div class="tab__content">
                                            {% if pending_admin %}
                                                <div class="custom-scroll table-responsive">
                                                  <table id="pendingAdminProductsTable" class="table table-bordered table-hover">
                                                      <thead>
                                                      <tr>
                                                          <th>Photo Id</th>
                                                          <th>Thumbnail</th>
                                                          <th>Title</th>
                                                          <th>User</th>
                                                          <th>Upload Date</th>
                                                      </tr>
                                                      </thead>
                                                      <tbody>
                                                          {% for product in pending_admin %}
                                                            <tr>
                                                                <td><a href="{% url 'product_pending' product.public_id %}">{{ product.public_id }}</a></td>
                                                                <td><a href="{{ product.get_display_image }}"><img src="{{ product.thumbnail.url }}"></a></td>
                                                                <td>{{ product.title }}</td>
                                                                <td><a href="{% url 'other_profile' product.owner.username %}">{{ product.owner }}</a></td>
                                                                <td>{{product.created_at}}</td>
                                                            </tr>
                                                          {% endfor %}
                                                      </tbody>
                                                  </table>
                                                </div>
                                            {% else %}
                                                <b>There are no pending admin approval products</b>
                                            {% endif %}
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title">
                                            <span class="h5">Approved</span>
                                        </div>
                                        <div class="tab__content">
                                            {% if approved %}
                                                <div class="custom-scroll table-responsive">
                                                  <table id="approvedProductsTable" class="table table-bordered table-hover">
                                                      <thead>
                                                      <tr>
                                                          <th>Photo Id</th>
                                                          <th>Thumbnail</th>
                                                          <th>Title</th>
                                                          <th>User</th>
                                                          <th>Upload Date</th>
                                                      </tr>
                                                      </thead>
                                                      <tbody>
                                                          {% for product in approved %}
                                                            <tr>
                                                                <td><a href="{% url 'product_details' product.public_id %}">{{ product.public_id }}</a></td>
                                                                <td><a href="{{ product.get_display_image }}"><img src="{{ product.thumbnail.url }}"></a></td>
                                                                <td>{{ product.title }}</td>
                                                                <td><a href="{% url 'other_profile' product.owner.username %}">{{ product.owner }}</a></td>
                                                                <td>{{product.created_at}}</td>
                                                            </tr>
                                                          {% endfor %}
                                                      </tbody>
                                                  </table>
                                                </div>
                                            {% else %}
                                                <b>There are no approved products</b>
                                            {% endif %}
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title">
                                            <span class="h5">Rejected</span>
                                        </div>
                                        <div class="tab__content">
                                            {% if rejected %}
                                                <div class="custom-scroll table-responsive">
                                                  <table id="rejectedProductsTable" class="table table-bordered table-hover">
                                                      <thead>
                                                     <tr>
                                                          <th>Photo Id</th>
                                                          <th>Thumbnail</th>
                                                          <th>Title</th>
                                                          <th>User</th>
                                                          <th>Upload Date</th>
                                                      </tr>
                                                      </thead>
                                                      <tbody>
                                                      {% for product in rejected %}
                                                        <tr>
                                                            <td><a href="{% url 'product_details' product.public_id %}">{{ product.public_id }}</a></td>
                                                            <td><a href="{{ product.get_display_image }}"><img src="{{ product.thumbnail.url }}"></a></td>
                                                            <td>{{ product.title }}</td>
                                                            <td><a href="{% url 'other_profile' product.owner.username %}">{{ product.owner }}</a></td>
                                                            <td>{{product.created_at}}</td>
                                                        </tr>
                                                      {% endfor %}
                                                      </tbody>
                                                  </table>
                                                </div>
                                            {% else %}
                                                <b>There are no rejected products</b>
                                            {% endif %}
                                        </div>
                                    </li>
                                                                         <li>
                                        <div class="tab__title">
                                            <span class="h5">Requested to be Deleted</span>
                                        </div>
                                        <div class="tab__content">
                                            {% if requested_to_archive %}
                                                <div class="custom-scroll table-responsive">
                                                  <table id="requestedToBeDeletedProductsTable" class="table table-bordered table-hover">
                                                      <thead>
                                                      <tr>
                                                          <th>Photo Id</th>
                                                          <th>Thumbnail</th>
                                                          <th>Title</th>
                                                      </tr>
                                                      </thead>
                                                      <tbody>
                                                      {% for product in requested_to_archive %}
                                                        <tr>
                                                            <td><a href="{% url 'product_details' product.public_id %}">{{ product.public_id }}</a></td>
                                                            <td>
                                                                <a href="{{ product.get_display_image }}"><img src="{{ product.thumbnail.url }}"></a>
                                                            </td>
                                                            <td>{{ product.title }}</td>
                                                        </tr>
                                                      {% endfor %}
                                                      </tbody>
                                                  </table>
                                                </div>
                                            {% else %}
                                                <b>There are no products that are requested to be deleted</b>
                                            {% endif %}
                                        </div>
                                    </li>
                                     <li>
                                        <div class="tab__title">
                                            <span class="h5">Archived</span>
                                        </div>
                                        <div class="tab__content">
                                            {% if archived %}
                                                <div class="custom-scroll table-responsive">
                                                  <table id="archivedProductsTable" class="table table-bordered table-hover">
                                                      <thead>
                                                      <tr>
                                                          <th>Photo Id</th>
                                                          <th>Thumbnail</th>
                                                          <th>Title</th>
                                                      </tr>
                                                      </thead>
                                                      <tbody>
                                                      {% for product in archived %}
                                                        <tr>
                                                            <td><a href="{% url 'product_details' product.public_id %}">{{ product.public_id }}</a></td>
                                                            <td>
                                                                <a href="{{ product.get_display_image }}"><img src="{{ product.thumbnail.url }}"></a>
                                                            </td>
                                                            <td>{{ product.title }}</td>
                                                        </tr>
                                                      {% endfor %}
                                                      </tbody>
                                                  </table>
                                                </div>
                                            {% else %}
                                                <b>There are no archived products</b>
                                            {% endif %}
                                        </div>
                                    </li>
                                </ul>
                            </div><!--end of tabs container-->
                        </div>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

{% endblock %}