{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load thumbnail %}

{% block title %}
Request
{% endblock %}

{% block content %}

    <section class="bg--secondary space--sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="boxed boxed--lg boxed--border">
                        <div id="products" class="account-tab">
                            <h4>{{product.public_id}}</h4>
                            <ol class="breadcrumbs">
                                <li>
                                    <a href="{% url 'requests_main' %}">Requests</a>
                                </li>
                                <li>{{r.pk}}</li>
                            </ol>
                            <hr>
                            <h4>
                                {{r.owner.first_name}} {{r.owner.last_name}}
                                {% if r.status == "pending_approval" %}
                                    <span class="pull-right">
                                        <a href="{% url 'requests_approve' r.pk %}" class="btn btn-success btn--sm">Approve</a>
                                        <a href="{% url 'requests_reject' r.pk %}" class="btn btn-danger btn--sm">Reject</a>
                                    </span>
                                {% endif %}
                            </h4>
                            <div class="tabs-container" data-content-align="left">
                                <ul class="tabs">
                                    <li class="active">
                                        <div class="tab__title">
                                            <span class="h5">Personal Information</span>
                                        </div>
                                        <div class="tab__content">
                                            <center>
                                                {% if r.owner.profile_image %}
                                                    <img alt="avatar" src="{{r.owner.profile_image.url}}" class="image--md img-circle">
                                                {% else %}
                                                    <img alt="avatar" src="{% static 'ssw/img/default-avatar.png' %}" class="image--md img-circle">
                                                {% endif %}
                                            </center>
                                            <br>
                                            <table id="personalInfoTable" class="table table-bordered table-hover">
                                              <tbody>
                                                <tr>
                                                    <td><b>Name</b></td>
                                                    <td>{{r.owner.first_name}} {{r.owner.last_name}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Username</b></td>
                                                    <td>{{r.owner.username}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Email</b></td>
                                                    <td>{{r.owner.email}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Email Verified ?</b></td>
                                                    <td>{{r.owner.email_verified|yesno:"Yes, No"}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Country Code</b></td>
                                                    <td>{{r.owner.country_code}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Phone Number</b></td>
                                                    <td>{{r.owner.phone}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Preferred Language</b></td>
                                                    <td>{{r.owner.get_preferred_language_display}}</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title">
                                            <span class="h5">Address</span>
                                        </div>
                                        <div class="tab__content">
                                            <table id="addressInfoTable" class="table table-bordered table-hover">
                                              <tbody>
                                                <tr>
                                                    <td><b>Address 1</b></td>
                                                    <td>{{r.owner.address.address1}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Address 2</b></td>
                                                    <td>{{r.owner.address.address2}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>City</b></td>
                                                    <td>{{r.owner.address.city}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>State</b></td>
                                                    <td>{{r.owner.address.state}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Country</b></td>
                                                    <td>{{r.owner.address.country.name}} {{r.owner.address.country.unicode_flag}}</td>
                                                </tr>
                                                <tr>
                                                    <td><b>Zip Code</b></td>
                                                    <td>{{r.owner.address.zipcode}}</td>
                                                </tr>
                                              </tbody>
                                            </table>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title">
                                            <span class="h5">Photo ID</span>
                                        </div>
                                        <div class="tab__content">
                                            <a href="{{r.owner.photo_id.url}}">View Here</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title">
                                            <span class="h5">Sample Products</span>
                                        </div>
                                        <div class="tab__content">
                                            <div class="custom-scroll table-responsive">
                                                  <table id="sampleProductsTable" class="table table-bordered table-hover">
                                                      <thead>
                                                      <tr>
                                                          <th></th>
                                                          <th>Sample Product</th>
                                                      </tr>
                                                      </thead>
                                                      <tbody>
                                                      {% for product in sample_products %}
                                                        <tr>
                                                            <td>{{ forloop.counter }}</td>
                                                            <td><a href="{{ product.image.url }}"><img src="{{ product.thumbnail.url }}"></a></td>
                                                        </tr>
                                                      {% endfor %}
                                                      </tbody>
                                                  </table>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div><!--end of tabs container-->
                        </div>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

{% endblock %}