{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load thumbnail %}

{% block title %}
Users
{% endblock %}

{% block content %}

<section class="bg--secondary space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="boxed boxed--lg boxed--border">
                                <h4>Users</h4>
                                <hr>
                                {% if users %}
                                    <div class="custom-scroll table-responsive">
                                      <table id="usersTable" class="table table-bordered table-hover">
                                          <thead>
                                          <tr>
                                              <th>Username</th>
                                              <th>Full Name</th>
                                              <th>Email</th>
                                              <th>Type</th>
                                              <th>Completed Registration?</th>
                                              <th>Date Joined</th>
                                              {% if user.type == "admin" %}
                                                <th>Action</th>
                                              {% endif %}
                                          </tr>
                                          </thead>
                                          <tbody>
                                          {% for u in users %}
                                            <tr>
                                                <td><a href="{% url 'other_profile' u.username %}">{{ u.username }}</a></td>
                                                <td>{{ u.get_full_name }}</td>
                                                <td> {{ u.email }} </td>
                                                <td>{{ u.get_type_display }}</td>
                                                <td> {{ u.completed_registration }} </td>
                                                <td> {{u.date_joined}} </td>
                                                {% if user.type == "admin" %}
                                                    <td>
                                                        {% if u.type == "contributor" or u.type == "client" %}
                                                            {% if not u.suspended %}
                                                                <div class="modal-instance">
                                                                    <a href="#" class="btn btn-danger modal-trigger">Suspend</a>
                                                                    <div class="modal-container">
                                                                        <div class="modal-content">
                                                                            <div class="boxed boxed--lg">
                                                                                <h2>Suspension Reason</h2>
                                                                                <hr class="short">
                                                                                <p class="lead">
                                                                                    Please tell us the reason for suspension. This will be sent back to the user.
                                                                                </p>
                                                                                <form method="post" action="{% url 'admin_users_suspend' u.username %}">
                                                                                    {% csrf_token %}
                                                                                    <textarea name="suspension_reason" class="form-control" style="height:10em" required></textarea>
                                                                                    <br>
                                                                                    <div class="row">
                                                                                        <div class="col-md-3">
                                                                                            <button type="submit" class="btn sowar_stock_color btn__upper suspend_button">Submit</button>
                                                                                        </div>
                                                                                    </div>
                                                                                </form>
                                                                            </div>
                                                                            <div class="modal-close modal-close-cross"></div>
                                                                        </div>
                                                                    </div>
                                                                </div><!--end of modal instance-->
                                                            {% else %}
                                                                <a href="{% url 'admin_users_unsuspend' user.username %}" class="btn btn-success">Unsuspend</a>
                                                            {% endif %}
                                                        {% endif %}
                                                    </td>
                                                {% endif %}
                                            </tr>
                                          {% endfor %}
                                          </tbody>
                                      </table>
                                    </div>
                                {% else %}
                                    There are no users
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

{% endblock %}

{% block js %}
<script>
$(document).ready(function(){

    $(".suspend_button").click(function(){
        $(this).prop("disabled",true)
        $(this).html("Submitting ... ")
        $(this).closest("form").submit()
    })

    $('#usersTable').DataTable();
})
</script>
{% endblock %}