{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %}
{% trans "About"%}
{% endblock %}

{% block content %}
<section class="cover height-100 imagebg" data-overlay="4">
    <div class="background-image-holder" style="opacity: 1;">
        <img alt="background" src="{% static 'ssw/img/inner-1.jpg' %}">
    </div>
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-8 col-lg-5">
                <h1>
                    {% trans "Sowarstock LLC."%}
                </h1>
                <ul class="social-list list-inline list--hover" {% if LANGUAGE_CODE == 'ar' %} style="position:relative; left: 18em" {% endif %}>
                    <li>
                        <a href="https://twitter.com/">
                            <i class="socicon socicon-twitter icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <i class="socicon socicon-linkedin icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.facebook.com/Sowarstock/">
                            <i class="socicon socicon-facebook icon icon--xs"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/sowarstock/">
                            <i class="socicon socicon-instagram icon icon--xs"></i>
                        </a>
                    </li>
                </ul>
                <p class="lead">
                    {% trans "A global provider of high-quality licensed images and artworks. We are working with great contributors from the MENA area and other countries around the world, to build a rich stock of photographs, calligraphy, and drawings. Sowarstock was founded in Wyoming in 2017."%}
                </p>
                <a class="btn btn--primary type--uppercase {% if LANGUAGE_CODE == 'ar' %} pull-right {% endif %}" href="/contact">
                    <span class="btn__text">
                        {% trans "Get In Touch"%}
                    </span>
                </a>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock %}