{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %}
{% trans "Account Settings"%}
{% endblock %}

{% block content %}

<section class="bg--secondary space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="boxed boxed--lg boxed--border">
                                <div class="text-block text-center">
                                    {% if user.profile_image_url %}
                                        <a href="{{user.profile_image_url}}">
                                            <img id="avatar_preview" src="{{ user.profile_image_crop.url }}" class="image--sm img-circle" alt="User Image">
                                        </a>
                                    {% else %}
                                        <img id="avatar_preview" src="{% static 'ssw/img/default-avatar.png' %}" class="image--sm img-circle" alt="User Image">
                                    {% endif %}
                                    <span class="h5">{{user.first_name}} {{user.last_name}}</span>
                                    <span>{{user.get_type_display|title}}</span>
                                    {% if user.type == "client" %}
                                        {% if user.is_verified %}
                                            <span class="label label-success">{% trans "Verified"%}</span>
                                        {% else %}
                                            <span class="label label-danger">{% trans "Unverified"%}</span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <hr>
                                <div class="text-block">
                                    <ul class="menu-vertical">
                                        <li {% if LANGUAGE_CODE == 'ar' %} style="text-align:right" {% endif %}>
                                            <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-personal;hidden">{% trans "Personal Information"%}</a>
                                        </li>
                                        <li {% if LANGUAGE_CODE == 'ar' %} style="text-align:right" {% endif %}>
                                            <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-address;hidden">{% trans "Address"%}</a>
                                        </li>
                                        </li>
                                        <li {% if LANGUAGE_CODE == 'ar' %} style="text-align:right" {% endif %}>
                                            <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-password;hidden">{% trans "Password"%}</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="boxed boxed--lg boxed--border">
                                <div id="account-personal" class="account-tab">
                                    <h4>{% trans "Personal Information"%}</h4>
                                    <p>
                                        <label for="profile_image">{% if user.profile_image_url %}Change {% endif %}{% trans "Profile Image"%}:</label>
                                        <img id="image_loader" class="hidden" style="max-height:1.5em" src="{% static 'ssw/img/ajax-loader.gif' %}">
                                        <input type="file" accept="image/*" id="profile_image" name="profile_image">
                                        <i style="color:red" id="profile_image_error_msg"></i>
                                    </p>
                                    <form method="post" action="{% url 'update_personal_info' %}">
                                        {% csrf_token %}
                                            {% if user.profile_image_url %}
                                                <div class="input-checkbox input-checkbox--switch">
                                                    <input type="checkbox" name="profile_image-clear" id="profile_image-clear">
                                                    <label for="profile_image-clear"></label>
                                                </div>
                                                <span> {% trans "Delete Profile Image"%} </span>
                                            {% endif %}
                                            <input type="hidden" id="avatar-url" name="avatar-url">
                                            {{ personal_info_form.as_p }}
                                            <div class="col-lg-3 col-md-4">
                                                <button type="submit" id="save_personal_info_button" class="btn btn--primary type--uppercase">{% trans "Save Profile"%}</button>
                                            </div>
                                    </form>
                                </div>
                                <div id="account-address" class="hidden account-tab">
                                    <h4>{% trans "Address"%}</h4>
                                    <form method="post" action="{% url 'update_address' %}">
                                        {% csrf_token %}
                                            {{ address_form.as_p }}
                                            <div class="col-lg-3 col-md-4">
                                                <button type="submit" class="btn btn--primary type--uppercase">{% trans "Save Address"%}</button>
                                            </div>
                                    </form>
                                </div>
                                <div id="account-password" class="hidden account-tab">
                                    <h4>{% trans "Password"%}</h4>
                                    <form Method="post" action="{% url 'update_password' %}">
                                        {% csrf_token %}
                                        {{ password_form.as_p }}
                                        <div class="col-lg-3 col-md-4">
                                            <button type="submit" class="btn btn--primary type--uppercase">{% trans "Save Password"%}</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        {% if not user.email_verified %}
            $("label[for='id_email']").after('<span class="color--error"> unverified</span>')
        {% else %}
            $("label[for='id_email']").after('<span class="color--success"> verified</span>')
        {% endif %}

        $("#profile_image").change(function(){
            var input = $(this)
            var files = document.getElementById("profile_image").files;
            var file = files[0];
            $("#image_loader").removeClass("hidden")
            $("#save_personal_info_button").prop("disabled",true)

            if(file){
                getSignedRequest(file);
            }else{
                $("#image_loader").addClass("hidden")
                $("#save_personal_info_button").prop("disabled",false)
            }
        })

        function getSignedRequest(file){
          var xhr = new XMLHttpRequest();
          xhr.open("GET", "/ajax/sign_s3?file_type="+file.type+"&destination=profile_images");
          xhr.onreadystatechange = function(){
            if(xhr.readyState === 4){
              if(xhr.status === 200){
                var response = JSON.parse(xhr.responseText);
                uploadFile(file, response.data, response.url);
              }
              else{
                alert("Oops! An error has occurred ! Please try again");
                $("#image_loader").addClass("hidden")
                $("#save_personal_info_button").prop("disabled",false)
              }
            }
          };
          xhr.send();
        }

        function uploadFile(file, s3Data, url){
          var xhr = new XMLHttpRequest();
          xhr.open("POST", s3Data.url);

          var postData = new FormData();
          for(key in s3Data.fields){
            postData.append(key, s3Data.fields[key]);
          }
          postData.append('file', file);

          xhr.onreadystatechange = function() {
            if(xhr.readyState === 4){
              if(xhr.status === 200 || xhr.status === 204){
                document.getElementById("avatar-url").value = url;
                $("#image_loader").addClass("hidden")
                $("#save_personal_info_button").prop("disabled",false)
              }
              else{
                alert("Could not upload file.");
                $("#image_loader").addClass("hidden")
                $("#save_personal_info_button").prop("disabled",false)
              }
           }
          };
          xhr.send(postData);
        }
    })
</script>
{% endblock %}