{% extends "ssw/main.html" %}
{% load static from staticfiles %}

{% block title %}
Account Settings
{% endblock %}

{% block content %}
<section class="bg--secondary space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="boxed boxed--lg boxed--border">
                                <div class="text-block text-center">
                                    {% if user.profile_image %}
                                        <img src="{{ user.profile_image.url }}" class="image--sm img-circle" alt="User Image">
                                    {% else %}
                                        <img src="{% static 'ssw/img/default-avatar.png' %}" class="image--sm img-circle" alt="User Image">
                                    {% endif %}
                                    <span class="h5">{{user.first_name}} {{user.last_name}}</span>
                                    <span>{{user.get_type_display|title}}</span>
                                    {% if user.is_verified %}
                                        <span class="label label-success">Verified</span>
                                    {% else %}
                                        <span class="label label-danger">Unverified</span>
                                    {% endif %}
                                </div>
                                <hr>
                                <div class="text-block">
                                    <ul class="menu-vertical">
                                        <li>
                                            <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-personal;hidden">Personal Information</a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-address;hidden">Address</a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-id;hidden">Photo ID</a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-public;hidden">Public Information</a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-password;hidden">Password</a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-billing;hidden">Payment Settings</a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#delete-account;hidden">Delete Account</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="boxed boxed--lg boxed--border">
                                <div id="account-personal" class="account-tab">
                                    <h4>Personal Information</h4>
                                    <h5>
                                        Email: {{user.email}}
                                        {% if user.email_verified %}
                                            <span class="color--success"> verified</span>
                                        {% else %}
                                            <span class="color--error"> unverified</span>
                                        {% endif %}
                                    </h5>
                                    <form method="post" action="{% url 'update_personal_info' %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                            {{ personal_info_form.as_p }}
                                            <div class="col-lg-3 col-md-4">
                                                <button type="submit" class="btn btn--primary type--uppercase">Save Profile</button>
                                            </div>
                                    </form>
                                </div>
                                <div id="account-address" class="hidden account-tab">
                                    <h4>Address</h4>
                                    <form method="post" action="{% url 'update_address' %}">
                                        {% csrf_token %}
                                            {{ address_form.as_p }}
                                            <div class="col-lg-3 col-md-4">
                                                <button type="submit" class="btn btn--primary type--uppercase">Save Address</button>
                                            </div>
                                    </form>
                                </div>
                                <div id="account-id" class="hidden account-tab">
                                    <h4>Photo ID</h4>
                                    {% if user.photo_id %}
                                        <p>Photo ID: <a href="{{user.photo_id.url}}">{{user.photo_id}}</a></p>
                                        <p>
                                            <b>Status:  </b>
                                            {% if user.photo_id_verified %}
                                                    <span class="label label-success" style="top:auto;right:auto; margin-left:1em">
                                            {% else %}
                                                    <span class="label label-danger" style="top:auto;right:auto; margin-left:1em">
                                            {% endif %}
                                                {{user.photo_id_verified|yesno:"Verified,Under Process"}}
                                                </span>

                                        </p>
                                    {% else %}
                                        <form method="post" action="{% url 'update_photo_id' %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                                {{ photo_id_form.as_p }}
                                                <div class="col-lg-3 col-md-4">
                                                    <button type="submit" class="btn btn--primary type--uppercase">Save Photo ID</button>
                                                </div>
                                        </form>
                                    {% endif %}
                                </div>
                                <div id="account-public" class="hidden account-tab">
                                    <h4>Public Information</h4>
                                    <form Method="post" action="{% url 'update_public_info' %}">
                                        {% csrf_token %}
                                        {{ public_info_form.as_p }}
                                        <div class="col-lg-3 col-md-4">
                                            <button type="submit" class="btn btn--primary type--uppercase">Save</button>
                                        </div>
                                    </form>
                                </div>
                                <div id="account-password" class="hidden account-tab">
                                    <h4>Password</h4>
                                    <form Method="post" action="{% url 'update_password' %}">
                                        {% csrf_token %}
                                        {{ password_form.as_p }}
                                        <div class="col-lg-3 col-md-4">
                                            <button type="submit" class="btn btn--primary type--uppercase">Save Password</button>
                                        </div>
                                    </form>
                                </div>
                                <div id="account-billing" class="hidden account-tab">
                                    <h4>Payment Settings</h4>
                                    <p>Choose your preferred payment method to get paid when you have new earnings.</p>
                                    <form method="post" action="{% url 'update_payment_method' %}">
                                        {% csrf_token %}
                                        {{payment_method_form.preferred_payment_method.errors}}
                                        {{payment_method_form.preferred_payment_method.label_tag}}
                                        {{payment_method_form.preferred_payment_method}}
                                        <br>
                                        <div id="bank_owner_name_field_wrapper" class="hidden">
                                            {{payment_method_form.bank_owner_name.errors}}
                                            {{payment_method_form.bank_owner_name.label_tag}}
                                            {{payment_method_form.bank_owner_name}}
                                            <br><br>
                                        </div>
                                        <div id="bank_name_field_wrapper" class="hidden">
                                            {{payment_method_form.bank_name.errors}}
                                            {{payment_method_form.bank_name.label_tag}}
                                            {{payment_method_form.bank_name}}
                                            <br><br>
                                        </div>
                                        <div id="iban_field_wrapper" class="hidden">
                                            {{payment_method_form.iban.errors}}
                                            {{payment_method_form.iban.label_tag}}
                                            {{payment_method_form.iban}}
                                            <br><br>
                                        </div>
                                        <div id="bank_country_field_wrapper" class="hidden">
                                            {{payment_method_form.bank_country.errors}}
                                            {{payment_method_form.bank_country.label_tag}}
                                            {{payment_method_form.bank_country}}
                                            <br><br>
                                        </div>
                                        <div id="western_union_field_wrapper" class="hidden">
                                            {{payment_method_form.western_union_account.errors}}
                                            {{payment_method_form.western_union_account.label_tag}}
                                            {{payment_method_form.western_union_account}}
                                            <br><br>
                                        </div>
                                        <div id="residency_country_field_wrapper" class="hidden">
                                            {{payment_method_form.residency_country.errors}}
                                            {{payment_method_form.residency_country.label_tag}}
                                            {{payment_method_form.residency_country}}
                                            <br><br>
                                        </div>
                                        <div id="paypal_field_wrapper" class="hidden">
                                            {{payment_method_form.paypal_account.errors}}
                                            {{payment_method_form.paypal_account.label_tag}}
                                            {{payment_method_form.paypal_account}}
                                            <br><br>
                                        </div>
                                        <div class="col-lg-3 col-md-4">
                                            <button id="payment_settings_button"
                                                    type="submit" class="btn btn--primary type--uppercase">Save</button>
                                        </div>
                                    </form>
                                </div>
                                <div id="delete-account" class="hidden account-tab">
                                    <h4>Delete Account</h4>
                                    <p>Please use this form to send us a request if you no longer wish to have an account with Sowarstock.</p>
                                    <form method="post" action="{% url 'update_user_request_delete' %}">
                                        {% csrf_token %}
                                        {{user_request_delete_form}}
                                        <br>
                                        <div class="col-lg-3 col-md-4">
                                            <button type="submit" class="btn btn--primary type--uppercase">Submit</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){

        $("#id_phone").keyup(function(){
            var phone = $(this).val()
            if(isNaN(phone)){
                phone = phone.substring(0, phone.length - 1)
                $(this).val(phone)
            }
        })

        var method = $("#id_preferred_payment_method").val()
        checkMethod(method)

        $("#id_preferred_payment_method").change(function(){
            var method = $(this).val()
            checkMethod(method)
        })

        function checkMethod(method){
            if(method == "direct_bank_deposit"){
                $("#bank_owner_name_field_wrapper").removeClass("hidden")
                $("#bank_name_field_wrapper").removeClass("hidden")
                $("#iban_field_wrapper").removeClass("hidden")
                $("#bank_country_field_wrapper").removeClass("hidden")
                $("#western_union_field_wrapper").addClass("hidden")
                $("#residency_country_field_wrapper").addClass("hidden")
                $("#paypal_field_wrapper").addClass("hidden")
            }else if(method == "western_union"){
                $("#bank_owner_name_field_wrapper").removeClass("hidden")
                $("#bank_name_field_wrapper").addClass("hidden")
                $("#iban_field_wrapper").addClass("hidden")
                $("#bank_country_field_wrapper").addClass("hidden")
                $("#western_union_field_wrapper").removeClass("hidden")
                $("#residency_country_field_wrapper").removeClass("hidden")
                $("#paypal_field_wrapper").addClass("hidden")
            }else if(method == "paypal"){
                $("#bank_owner_name_field_wrapper").addClass("hidden")
                $("#bank_name_field_wrapper").addClass("hidden")
                $("#iban_field_wrapper").addClass("hidden")
                $("#bank_country_field_wrapper").addClass("hidden")
                $("#western_union_field_wrapper").addClass("hidden")
                $("#paypal_field_wrapper").removeClass("hidden")
            }
        }

        var substringMatcher = function(strs) {
          return function findMatches(q, cb) {
            var matches, substringRegex;

            // an array that will be populated with substring matches
            matches = [];

            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');

            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function(i, str) {
              if (substrRegex.test(str)) {
                matches.push(str);
              }
            });

            cb(matches);
          };
        };


        var codes = {{codes_json|safe}}

        $('#id_country_code').typeahead({
          hint: true,
          highlight: true,
          minLength: 1
        },
        {
          name: 'codes',
          source: substringMatcher(codes)
        });

        wrapCheckbox("profile_image-clear_id", "clear_checkbox_wrapper", "Delete")

        $("#payment_settings_button").click(function(e){
            $(this).prop("disabled",true)
            $(this).html("Saving ... ")
            $(this).closest("form").submit()

        })
    })
</script>
{% endblock %}