{% extends "ssw/main.html" %}
{% load static from staticfiles %}

{% block title %}
Account Settings
{% endblock %}

{% block content %}

<section class="bg--secondary space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="boxed boxed--lg boxed--border">
                                <div class="text-block text-center">
                                    {% if user.profile_image %}
                                        <img src="{{ user.profile_image.url }}" class="image--sm img-circle" alt="User Image">
                                    {% else %}
                                        <img src="{% static 'ssw/img/default-avatar.png' %}" class="image--sm img-circle" alt="User Image">
                                    {% endif %}
                                    <span class="h5">{{user.first_name}} {{user.last_name}}</span>
                                    <span>{{user.get_type_display|title}}</span>
                                    {% if user.type == "client" %}
                                        {% if user.is_verified %}
                                            <span class="label label-success">Verified</span>
                                        {% else %}
                                            <span class="label label-danger">Unverified</span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <hr>
                                <div class="text-block">
                                    <ul class="menu-vertical">
                                        <li>
                                            <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-personal;hidden">Personal Information</a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-address;hidden">Address</a>
                                        </li>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-password;hidden">Password</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="boxed boxed--lg boxed--border">
                                <div id="account-personal" class="account-tab">
                                    <h4>Personal Information</h4>
                                    <form method="post" action="{% url 'update_personal_info' %}" enctype="multipart/form-data">
                                        {% csrf_token %}
                                            {{ personal_info_form.as_p }}
                                            <div class="col-lg-3 col-md-4">
                                                <button type="submit" class="btn btn--primary type--uppercase">Save Profile</button>
                                            </div>
                                    </form>
                                </div>
                                <div id="account-address" class="hidden account-tab">
                                    <h4>Address</h4>
                                    <form method="post" action="{% url 'update_address' %}">
                                        {% csrf_token %}
                                            {{ address_form.as_p }}
                                            <div class="col-lg-3 col-md-4">
                                                <button type="submit" class="btn btn--primary type--uppercase">Save Address</button>
                                            </div>
                                    </form>
                                </div>
                                <div id="account-id" class="hidden account-tab">
                                    <h4>Photo ID</h4>
                                    {% if user.photo_id %}
                                        <p>Photo ID: <a href="{{user.photo_id.url}}">{{user.photo_id}}</a></p>
                                        <p>
                                            <b>Status:  </b>
                                            {% if user.photo_id_verified %}
                                                    <span class="label label-success" style="top:auto;right:auto; margin-left:1em">
                                            {% else %}
                                                    <span class="label label-danger" style="top:auto;right:auto; margin-left:1em">
                                            {% endif %}
                                                {{user.photo_id_verified|yesno:"Verified,Under Process"}}
                                                </span>

                                        </p>
                                    {% else %}
                                        <form method="post" action="{% url 'update_photo_id' %}" enctype="multipart/form-data">
                                            {% csrf_token %}
                                                {{ photo_id_form.as_p }}
                                                <div class="col-lg-3 col-md-4">
                                                    <button type="submit" class="btn btn--primary type--uppercase">Save Photo ID</button>
                                                </div>
                                        </form>
                                    {% endif %}
                                </div>
                                <div id="account-public" class="hidden account-tab">
                                    <h4>Public Information</h4>
                                    <form Method="post" action="{% url 'update_public_info' %}">
                                        {% csrf_token %}
                                        {{ public_info_form.as_p }}
                                        <div class="col-lg-3 col-md-4">
                                            <button type="submit" class="btn btn--primary type--uppercase">Save</button>
                                        </div>
                                    </form>
                                </div>
                                <div id="account-password" class="hidden account-tab">
                                    <h4>Password</h4>
                                    <form Method="post" action="{% url 'update_password' %}">
                                        {% csrf_token %}
                                        {{ password_form.as_p }}
                                        <div class="col-lg-3 col-md-4">
                                            <button type="submit" class="btn btn--primary type--uppercase">Save Password</button>
                                        </div>
                                    </form>
                                </div>
                                <div id="account-billing" class="hidden account-tab">
                                    <h4>Payment Method</h4>
                                    <p>Enter the email associated with your Paypal account so we can pay you when you have new earnings.</p>
                                    <form Method="post" action="{% url 'update_payment_method' %}">
                                        {% csrf_token %}
                                        {{ payment_method_form.as_p }}
                                        <div class="col-lg-3 col-md-4">
                                            <button type="submit" class="btn btn--primary type--uppercase">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        {% if not user.email_verified %}
            $("label[for='id_email']").after('<span class="color--error"> unverified</span>')
        {% else %}
            $("label[for='id_email']").after('<span class="color--success"> verified</span>')
        {% endif %}

        wrapCheckbox("profile_image-clear_id", "clear_checkbox_wrapper", "Delete")
    })
</script>
{% endblock %}