{% extends "ssw/main.html" %}
{% load static from staticfiles %}

{% block title %}
Account Settings
{% endblock %}

{% block content %}

<section class="bg--secondary space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="boxed boxed--lg boxed--border">
                                <div class="text-block text-center">
                                    {% if user.profile_image_url %}
                                        <a href="{{user.profile_image_url}}">
                                            <img id="avatar_preview" src="{{ user.profile_image_url }}" class="image--sm img-circle" alt="User Image">
                                        </a>
                                    {% else %}
                                        <img id="avatar_preview" src="{% static 'ssw/img/default-avatar.png' %}" class="image--sm img-circle" alt="User Image">
                                    {% endif %}
                                    <span class="h5">{{user.first_name}} {{user.last_name}}</span>
                                    <span>{{user.get_type_display|title}}</span>
                                    {% if user.type == "client" %}
                                        {% if user.is_verified %}
                                            <span class="label label-success">Verified</span>
                                        {% else %}
                                            <span class="label label-danger">Unverified</span>
                                        {% endif %}
                                    {% endif %}
                                </div>
                                <hr>
                                <div class="text-block">
                                    <ul class="menu-vertical">
                                        <li>
                                            <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-personal;hidden">Personal Information</a>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-address;hidden">Address</a>
                                        </li>
                                        </li>
                                        <li>
                                            <a href="#" data-toggle-class=".account-tab:not(.hidden);hidden|#account-password;hidden">Password</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="boxed boxed--lg boxed--border">
                                <div id="account-personal" class="account-tab">
                                    <h4>Personal Information</h4>
                                    <p>
                                        <label for="profile_image">{% if user.profile_image_url %}Change {% endif %}Profile Image:</label>
                                        <input type="file" accept="image/*" id="profile_image" name="profile_image">
                                        <i style="color:red" id="profile_image_error_msg"></i>
                                    </p>
                                    <form method="post" action="{% url 'update_personal_info' %}">
                                        {% csrf_token %}
                                            {% if user.profile_image_url %}
                                                <div class="input-checkbox input-checkbox--switch">
                                                    <input type="checkbox" name="profile_image-clear" id="profile_image-clear">
                                                    <label for="profile_image-clear"></label>
                                                </div>
                                                <span> Delete Profile Image </span>
                                            {% endif %}
                                            <input type="hidden" id="avatar-url" name="avatar-url">
                                            {{ personal_info_form.as_p }}
                                            <div class="col-lg-3 col-md-4">
                                                <button type="submit" class="btn btn--primary type--uppercase">Save Profile</button>
                                            </div>
                                    </form>
                                </div>
                                <div id="account-address" class="hidden account-tab">
                                    <h4>Address</h4>
                                    <form method="post" action="{% url 'update_address' %}">
                                        {% csrf_token %}
                                            {{ address_form.as_p }}
                                            <div class="col-lg-3 col-md-4">
                                                <button type="submit" class="btn btn--primary type--uppercase">Save Address</button>
                                            </div>
                                    </form>
                                </div>
                                <div id="account-password" class="hidden account-tab">
                                    <h4>Password</h4>
                                    <form Method="post" action="{% url 'update_password' %}">
                                        {% csrf_token %}
                                        {{ password_form.as_p }}
                                        <div class="col-lg-3 col-md-4">
                                            <button type="submit" class="btn btn--primary type--uppercase">Save Password</button>
                                        </div>
                                    </form>
                                </div>
                                <div id="account-billing" class="hidden account-tab">
                                    <h4>Payment Method</h4>
                                    <p>Enter the email associated with your Paypal account so we can pay you when you have new earnings.</p>
                                    <form Method="post" action="{% url 'update_payment_method' %}">
                                        {% csrf_token %}
                                        {{ payment_method_form.as_p }}
                                        <div class="col-lg-3 col-md-4">
                                            <button type="submit" class="btn btn--primary type--uppercase">Save</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        {% if not user.email_verified %}
            $("label[for='id_email']").after('<span class="color--error"> unverified</span>')
        {% else %}
            $("label[for='id_email']").after('<span class="color--success"> verified</span>')
        {% endif %}

        $("#profile_image").change(function(){
            var input = $(this)
            var files = document.getElementById("profile_image").files;
            var file = files[0];

            if(file){
                var size, img, width, height;
                size = file.size/1024/1024
                var _URL = window.URL || window.webkitURL;
                img = new Image();
                img.onload = function () {
                    width = this.width
                    height = this.height

                    if(width != height){
                        $("#profile_image_error_msg").html("your profile image has to be square")
                        input.val('')
                    }else{
                        $("#profile_image_error_msg").html("")
                        getSignedRequest(file);
                    }

                };
                img.src = _URL.createObjectURL(file);

            }else{
                $("#profile_image_error_msg").html("")
            }
        })

        function getSignedRequest(file){
          var xhr = new XMLHttpRequest();
          xhr.open("GET", "/ajax/sign_s3?file_type="+file.type+"&destination=profile_images");
          xhr.onreadystatechange = function(){
            if(xhr.readyState === 4){
              if(xhr.status === 200){
                var response = JSON.parse(xhr.responseText);
                uploadFile(file, response.data, response.url);
              }
              else{
                alert("Oops! An error has occurred ! Please try again");
              }
            }
          };
          xhr.send();
        }

        function uploadFile(file, s3Data, url){
          var xhr = new XMLHttpRequest();
          xhr.open("POST", s3Data.url);

          var postData = new FormData();
          for(key in s3Data.fields){
            postData.append(key, s3Data.fields[key]);
          }
          postData.append('file', file);

          xhr.onreadystatechange = function() {
            if(xhr.readyState === 4){
              if(xhr.status === 200 || xhr.status === 204){
                document.getElementById("avatar_preview").src = url;
                document.getElementById("avatar-url").value = url;
              }
              else{
                alert("Could not upload file.");
              }
           }
          };
          xhr.send(postData);
        }
    })
</script>
{% endblock %}