{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %}
{% trans "Calligraphy"%}
{% endblock %}

{% block content %}

<section class="text-center imagebg" data-overlay="4">
    <div class="background-image-holder" style="background: url(&quot;img/hero-1.jpg&quot;); opacity: 1;">
        <img alt="background" src="{% static 'ssw/img/work-5.jpg' %}">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h1>{% trans "Calligraphy"%}</h1>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section>
    <div class="container">
        {% if calligraphy %}
            <div class="masonry">
                <div class="masonry-filter-container text-center d-flex flex-wrap justify-content-center align-items-center">
                    {% if LANGUAGE_CODE == 'ar' %}
                        <div class="masonry-filter-holder">
                            <div class="masonry__filters" data-filter-all-text="All Categories">
                                <ul>
                                    <li class="active" data-masonry-filter="*">{% trans "All Categories"%}</li>
                                </ul>
                            </div>
                        </div>
                        <span>{% trans "Category:"%}</span>
                    {% else %}
                        <span>{% trans "Category:"%}</span>
                        <div class="masonry-filter-holder">
                            <div class="masonry__filters" data-filter-all-text="All Categories">
                                <ul>
                                    <li class="active enable-all-categories" data-masonry-filter="*">{% trans "All Categories"%}</li>
                                    {% for subcategory in subcategories %}
                                        <li class="enable-{{subcategory.get_simple_name}}">{{subcategory}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <div id="mygallery" >
                    {% for c in calligraphy %}
                        <a href="{% url 'product_public' c.public_id %}" class="{{c.subcategory.get_simple_name}}">
                            <img alt="{{c.title}}" src="{{ c.thumbnail.url }}">
                        </a>
                    {% endfor %}
                </div>
                <!--end of row-->
            </div>
        {% else %}
            <h2>{% trans "There are no calligraphy."%}</h2>
        {% endif %}
    </div>
    <!--end of container-->
</section>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){

        $('.enable-all-categories').click(function () {
            $("#mygallery").justifiedGallery({ filter: false });
        });

        {% for c in calligraphy %}
            $('.enable-{{c.subcategory.get_simple_name}}').click(function () {
                $("#mygallery").justifiedGallery({ filter: '.{{c.subcategory.get_simple_name}}' });
            });
        {% endfor %}

        $("#mygallery").justifiedGallery({
            rowHeight : 200,
            lastRow : 'nojustify',
            margins : 5
        });
    })
</script>
{% endblock %}