{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% block title %}
Checkout
{% endblock %}

{% block content %}
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Checkout</h1>
                <hr>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section>
    <div class="container">
        <div class="row">
            {% for item in items %}
            <div class="col-md-4">
                <div class="product">
                    <span class="label">{{item.license_type}}</span>
                    <img src="{{ item.product.watermark.url}}">
                    <div>
                        <h5>{{item.product.title}}</h5>
                    </div>
                    <div>
                        <span class="h4 inline-block">${{item.price}}</span>
                    </div>
                </div>
            </div>
            <!--end item-->
            {% endfor %}
        </div>
        <!--end of row-->
        <div class="row justify-content-end">
            <div class="col-lg-2 text-right text-center-xs">
                <a href="{% url 'shopping_cart_main' %}" class="btn">Revise Cart</a>
            </div>
        </div>
        <!--end of row-->
        <div class="row mt--2">
            <div class="col-md-12">
                <div class="boxed boxed--border cart-total">
                    <!--
                    <div class="row">
                        <div class="col-6">
                            <span class="h5">Cart Subtotal:</span>
                        </div>
                        <div class="col-6 text-right">
                            <span>${{cart.total}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="h5">Fees:</span>
                        </div>
                        <div class="col-6 text-right">
                            <span>$0</span>
                        </div>
                    </div>
                    <hr>
                    -->
                    <div class="row">
                        <div class="col-6">
                            <span class="h5">Total:</span>
                        </div>
                        <div class="col-6 text-right">
                            <span class="h5">${{cart.total}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row-->

        <div class="row justify-content-end">
            <div class="col-lg-2 col-md-3 text-right text-center-xs">
                {{ form.render }}
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock %}