{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load progress_bar %}
{% block title %}
Profile
{% endblock %}

{% block content %}

<section class="bg--secondary space--sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="boxed boxed--lg boxed--border">
                    <h4>Complete Registration</h4>
                    <hr>
                    <form id="complete_registration_form" class="wizard" method="post"
                          action="{% url 'complete_registration' %}">
                        {% csrf_token %}
                        <h5>Personal Information</h5>
                        <section style="overflow:scroll">
                            {% if user.email_verified %}
                                <h5>
                                    Email Address: {{user.email}}
                                    <span class="color--success"> verified</span>
                                </h5>
                            {% else %}
                                <h5>
                                    Email Address: {{user.email}}
                                    <span class="color--error"> unverified</span>
                                    <a id="resend_email_button" href="#" class="btn btn--sm btn-primary">Resend Email</a>
                                </h5>
                            {% endif %}

                            <div class="row">
                                <div class="col-md-6">
                                    {{personal_info_form.first_name.label_tag}}<span class="color--error" style="font-size:large">*</span>
                                    {{personal_info_form.first_name}}
                                    {{personal_info_form.first_name.errors}}
                                </div>
                                <div class="col-md-6">
                                    {{personal_info_form.last_name.label_tag}}<span class="color--error" style="font-size:large">*</span>
                                    {{personal_info_form.last_name}}
                                    {{personal_info_form.last_name.errors}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    {{personal_info_form.country_code.label_tag}}<span class="color--error" style="font-size:large">*</span>
                                    {{personal_info_form.country_code}}
                                    {{personal_info_form.country_code.errors}}
                                </div>
                                <div class="col-md-6">
                                    {{personal_info_form.phone.label_tag}}<span class="color--error" style="font-size:large">*</span>
                                    {{personal_info_form.phone}}
                                    {{personal_info_form.phone.errors}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    <label for="profile_image">Profile Image:</label>
                                    <img id="profile_image_loader" class="hidden" style="max-height:1.5em" src="{% static 'ssw/img/ajax-loader.gif' %}">
                                    <input type="file" accept="image/*" id="profile_image" name="profile_image">
                                    <i style="color:red" id="profile_image_error_msg"></i>
                                    <input type="hidden" id="profile_image_url" name="profile_image_url">
                                </div>
                                <div class="col-md-6">
                                    {{personal_info_form.preferred_language.label_tag}}
                                    {{personal_info_form.preferred_language}}
                                    {{personal_info_form.preferred_language.errors}}
                                </div>
                            </div>
                        </section>
                        <h5>Address</h5>
                        <section style="overflow:scroll">
                            <div class="row">
                                <div class="col-md-12">
                                    {{address_form.address1.label_tag}}
                                    {{address_form.address1}}
                                    {{address_form.address1.errors}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-12">
                                    {{address_form.address2.label_tag}}
                                    {{address_form.address2}}
                                    {{address_form.address2.errors}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    {{address_form.city.label_tag}}
                                    {{address_form.city}}
                                    {{address_form.city.errors}}
                                </div>
                                <div class="col-md-6">
                                    {{address_form.state.label_tag}}
                                    {{address_form.state}}
                                    {{address_form.state.errors}}
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-md-6">
                                    {{address_form.country.label_tag}}<span class="color--error" style="font-size:large">*</span>
                                    {{address_form.country}}
                                    {{address_form.country.errors}}
                                </div>
                                <div class="col-md-6">
                                    {{address_form.zipcode.label_tag}}
                                    {{address_form.zipcode}}
                                    {{address_form.zipcode.errors}}
                                </div>
                            </div>
                        </section>
                        <h5>Photo ID</h5>
                        <section style="overflow:scroll">
                            <h5>Please upload a valid government ID (Passport or National ID). These will help us
                                verify that you are a real person and will help us make payments to you when you have
                                any earnings from our site.</h5>
                            <label for="photo_id">Photo ID:</label> <span class="color--error" style="font-size:large">*</span>
                            <img id="photo_id_loader" class="hidden" style="max-height:1.5em" src="{% static 'ssw/img/ajax-loader.gif' %}">
                            <input type="file" id="photo_id" name="photo_id">
                            <input type="hidden" id="photo_id_url" name="photo_id_url">
                        </section>
                        <h5>Upload Sample Photos</h5>
                        <section style="overflow:scroll">
                            <h5>Please upload 10 of your sample photos. These will help us verify you as a contributor.
                                They will not be displayed in our site</h5>
                            {% for i in "xxxxxxxxxx" %}
                                <p>
                                    <label for="sample_image_{{ forloop.counter }}">Sample Image {{ forloop.counter }}</label>
                                    <img id="sample_image_{{forloop.counter}}_loader" class="hidden" style="max-height:1.5em" src="{% static 'ssw/img/ajax-loader.gif' %}">
                                    <input type="file" accept="image/*" id="sample_image_{{ forloop.counter }}" name="sample_image_{{ forloop.counter }}">
                                    <input type="hidden" id="sample_image_{{ forloop.counter }}_url" name="sample_image_{{ forloop.counter }}_url">
                                </p>
                            {% endfor %}
                        </section>
                    </form>

                    {% progress_bar %}
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock %}

{% block js %}
{% progress_bar_media %}
<script>
    $(document).ready(function(){


        $("#resend_email_button").click(function(e){
            e.preventDefault()
            var button = $("#resend_email_button")
            button.addClass("disabled")
            button.html("sending...")

            $.ajax({
                url: '/resend-email-activation/',
                success: function (data) {
                    if(data.result="success"){
                        button.removeClass("disabled")
                        button.html("Resend Email")
                        button.after('<i class="fas fa-check-circle color--success"></i>  Email Sent')
                    }
                },
            });
        })

        var substringMatcher = function(strs) {
            return function findMatches(q, cb) {
            var matches, substringRegex;

            // an array that will be populated with substring matches
            matches = [];

            // regex used to determine if a string contains the substring `q`
            substrRegex = new RegExp(q, 'i');

            // iterate through the pool of strings and for any string that
            // contains the substring `q`, add it to the `matches` array
            $.each(strs, function(i, str) {
              if (substrRegex.test(str)) {
                matches.push(str);
              }
            });

            cb(matches);
            };
        };


        var codes = {{codes_json|safe}}

        $('#id_country_code').typeahead({
          hint: true,
          highlight: true,
          minLength: 1
        },
        {
          name: 'codes',
          source: substringMatcher(codes)
        });

        {% if not user.email_verified %}
            var anchor = $('a[href="#next"]')
            anchor.parent().addClass("disabled")
            anchor.attr("href","")
            anchor.parent().after('<br><i class="color--error">Please verify your email before proceeding</i>')
        {% endif %}

        $("#profile_image").change(function(){
            var input = $(this)
            var files = document.getElementById("profile_image").files;
            var file = files[0];
            $("#profile_image_loader").removeClass("hidden")
            var anchor = $('a[href="#next"]')
            anchor.parent().addClass("disabled")
            anchor.attr("href","")

            if(file){
                var size, img, width, height;
                size = file.size/1024/1024
                var _URL = window.URL || window.webkitURL;
                img = new Image();
                img.onload = function () {
                    width = this.width
                    height = this.height

                    if(width != height){
                        $("#profile_image_loader").addClass("hidden")
                        anchor.parent().removeClass("disabled")
                        anchor.attr("href","#next")
                        $("#profile_image_error_msg").html("your profile image has to be square")
                        input.val('')
                    }else{
                        $("#profile_image_error_msg").html("")
                        getProfileImageSignedRequest(file,anchor);
                    }

                };
                img.src = _URL.createObjectURL(file);

            }else{
                $("#profile_image_loader").addClass("hidden")
                anchor.parent().removeClass("disabled")
                anchor.attr("href","#next")
                $("#profile_image_error_msg").html("")
            }
        })

        function getProfileImageSignedRequest(file,anchor){
          var xhr = new XMLHttpRequest();
          xhr.open("GET", "/ajax/sign_s3?file_type="+file.type+"&destination=profile_images");
          xhr.onreadystatechange = function(){
            if(xhr.readyState === 4){
              if(xhr.status === 200){
                var response = JSON.parse(xhr.responseText);
                uploadProfileImageFile(file, response.data, response.url, anchor);
              }
              else{
                alert("Oops! An error has occurred ! Please try again");
                $("#profile_image_loader").addClass("hidden")
                anchor.parent().removeClass("disabled")
                anchor.attr("href","#next")
              }
            }
          };
          xhr.send();
        }

        function uploadProfileImageFile(file, s3Data, url, anchor){
          var xhr = new XMLHttpRequest();
          xhr.open("POST", s3Data.url);

          var postData = new FormData();
          for(key in s3Data.fields){
            postData.append(key, s3Data.fields[key]);
          }
          postData.append('file', file);

          xhr.onreadystatechange = function() {
            if(xhr.readyState === 4){
              if(xhr.status === 200 || xhr.status === 204){
                document.getElementById("profile_image_url").value = url;
                $("#profile_image_loader").addClass("hidden")
                anchor.parent().removeClass("disabled")
                anchor.attr("href","#next")
              }
              else{
                alert("Could not upload file.");
                $("#profile_image_loader").addClass("hidden")
                anchor.parent().removeClass("disabled")
                anchor.attr("href","#next")
              }

           }
          };
          xhr.send(postData);
        }

        $("#photo_id").change(function(){
            var input = $(this)
            var files = document.getElementById("photo_id").files;
            var file = files[0];
            $("#photo_id_loader").removeClass("hidden")
            var anchor = $('a[href="#next"]')
            anchor.parent().addClass("disabled")
            anchor.attr("href","")

            if(file){
                getPhotoIDSignedRequest(file,anchor);
            }else{
                $("#profile_image_error_msg").html("")
                $("#photo_id_loader").addClass("hidden")
                anchor.parent().removeClass("disabled")
                anchor.attr("href","#next")
            }
        })

        function getPhotoIDSignedRequest(file,anchor){
          var xhr = new XMLHttpRequest();
          xhr.open("GET", "/ajax/sign_s3?file_type="+file.type+"&destination=photo_id");
          xhr.onreadystatechange = function(){
            if(xhr.readyState === 4){
              if(xhr.status === 200){
                var response = JSON.parse(xhr.responseText);
                uploadPhotoIDFile(file, response.data, response.url, anchor);
              }
              else{
                alert("Oops! An error has occurred ! Please try again");
                $("#photo_id_loader").addClass("hidden")
                anchor.parent().removeClass("disabled")
                anchor.attr("href","#next")
              }
            }
          };
          xhr.send();
        }

        function uploadPhotoIDFile(file, s3Data, url, anchor){
          var xhr = new XMLHttpRequest();
          xhr.open("POST", s3Data.url);

          var postData = new FormData();
          for(key in s3Data.fields){
            postData.append(key, s3Data.fields[key]);
          }
          postData.append('file', file);

          xhr.onreadystatechange = function() {
            if(xhr.readyState === 4){
              if(xhr.status === 200 || xhr.status === 204){
                document.getElementById("photo_id_url").value = url;
                $("#photo_id_loader").addClass("hidden")
                anchor.parent().removeClass("disabled")
                anchor.attr("href","#next")
              }
              else{
                alert("Could not upload file.");
                $("#photo_id_loader").addClass("hidden")
                anchor.parent().removeClass("disabled")
                anchor.attr("href","#next")
              }
           }
          };
          xhr.send(postData);
        }

        for(i=1;i<11;i++){
            var index = i
            $("#sample_image_"+i).change(function(){
                var input = $(this)
                var index = input.attr('id').split("_")[2]
                var files = document.getElementById("sample_image_"+index).files;
                var file = files[0];
                $("#sample_image_"+index+"_loader").removeClass("hidden")
                var anchor = $('a[href="#finish"]')
                anchor.parent().addClass("disabled")
                anchor.attr("href","")

                if(file){
                    getSampleProductSignedRequest(file, index, anchor);
                }else{
                    $("#profile_image_error_msg").html("")
                    $("#sample_image_"+index+"_loader").addClass("hidden")
                    anchor.parent().removeClass("disabled")
                    anchor.attr("href","#finish")
                }
            })
        }

        function getSampleProductSignedRequest(file, index, anchor){
          var xhr = new XMLHttpRequest();
          xhr.open("GET", "/ajax/sign_s3?file_type="+file.type+"&destination=sample-products");
          xhr.onreadystatechange = function(){
            if(xhr.readyState === 4){
              if(xhr.status === 200){
                var response = JSON.parse(xhr.responseText);
                uploadSampleProductFile(file, response.data, response.url, index, anchor);
              }
              else{
                alert("Oops! An error has occurred ! Please try again");
                $("#sample_image_"+index+"_loader").addClass("hidden")
                anchor.parent().removeClass("disabled")
                anchor.attr("href","#finish")
              }
            }
          };
          xhr.send();
        }

        function uploadSampleProductFile(file, s3Data, url, index, anchor){
          var xhr = new XMLHttpRequest();
          xhr.open("POST", s3Data.url);

          var postData = new FormData();
          for(key in s3Data.fields){
            postData.append(key, s3Data.fields[key]);
          }
          postData.append('file', file);

          xhr.onreadystatechange = function() {
            if(xhr.readyState === 4){
              if(xhr.status === 200 || xhr.status === 204){
                document.getElementById("sample_image_"+index+"_url").value = url;
                $("#sample_image_"+index+"_loader").addClass("hidden")
                anchor.parent().removeClass("disabled")
                anchor.attr("href","#finish")
              }
              else{
                alert("Could not upload file.");
                $("#sample_image_"+index+"_loader").addClass("hidden")
                anchor.parent().removeClass("disabled")
                anchor.attr("href","#finish")
              }
           }
          };
          xhr.send(postData);
        }

        $('a[href="#finish"]').click(function(){
            var anchor = $(this)
            var firstName = $("#id_first_name").val()
            var lastName = $("#id_last_name").val()
            var countryCode = $("#id_country_code").val()
            var phone = $("#id_phone").val()
            var country = $("#id_country").val()
            var photo_id = $("#id_photo_id").val()
            var all_image_uploaded = true
            var error_msg = $("#error_msg")

            if(firstName == ""){
                if(error_msg.length==0){
                    anchor.parent().after('<br><i id="error_msg" class="color--error">Please fill out your first name</i>')
                 }else{
                    error_msg.html("Please fill out your first name")
                 }
            }else{
                if(lastName == ""){
                    if(error_msg.length==0){
                        anchor.parent().after('<br><i id="error_msg" class="color--error">Please fill out your last name</i>')
                     }else{
                        error_msg.html("Please fill out your last name")
                     }
                }else{
                    if(countryCode == ""){
                        if(error_msg.length==0){
                            anchor.parent().after('<br><i id="error_msg" class="color--error">Please fill out your country code</i>')
                         }else{
                            error_msg.html("Please fill out your country code")
                         }
                    }else{
                        if(phone == ""){
                            if(error_msg.length==0){
                                anchor.parent().after('<br><i id="error_msg" class="color--error">Please fill out your phone number</i>')
                             }else{
                                error_msg.html("Please fill out your phone number")
                             }
                        }else{
                            if(country == ""){
                                if(error_msg.length==0){
                                    anchor.parent().after('<br><i id="error_msg" class="color--error">Please choose your country</i>')
                                 }else{
                                    error_msg.html("Please choose your country")
                                 }
                            }else{
                                error_msg.html("")

                                if(photo_id == ""){
                                    if(error_msg.length==0){
                                        anchor.parent().after('<br><i id="error_msg" class="color--error">Please upload a photo ID</i>')
                                     }else{
                                        error_msg.html("Please upload a photo ID")
                                     }
                                }else{
                                    error_msg.html("")

                                    for(i=1;i<11;i++){

                                        var image = $("#sample_image_"+i).val()
                                        if(image==""){
                                            all_image_uploaded = false
                                        }
                                    }

                                    if(!all_image_uploaded){
                                        if(error_msg.length==0){
                                            anchor.parent().after('<br><i id="error_msg" class="color--error">Please upload 10 sample photos</i>')
                                         }else{
                                            error_msg.html("Please upload 10 sample photos")
                                         }
                                    }else{
                                        error_msg.html("")
                                        $("#complete_registration_form").submit()
                                        var anchor = $('a[href="#finish"]')
                                        anchor.parent().addClass("disabled")
                                        anchor.attr("href","")
                                        anchor.html('Submitting' + '<img id="submit_product_loader" style="max-height:1.5em" src="{% static 'ssw/img/ajax-loader.gif' %}">')
                                    }
                                }
                            }
                        }
                    }
                }
            }

        })


    })
</script>
{% endblock %}