{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %}
{% trans "Contact"%}
{% endblock %}

{% block head %}
<style>
  /* Always set the map height explicitly to define the size of the div
   * element that contains the map. */
  #map {
    height: 30em;
  }
</style>
{% endblock %}
{% block content %}
<section class="unpad ">
    <div id="map">
        <img src="{% static 'ssw/img/landing-2.jpg' %}" style="width:100%">
    </div>
</section>
<section class="text-center height-50">
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-8 col-lg-6">
                <h1>{% trans "Contact Us"%}</h1>
                <p class="lead">
                    {% trans "We would love to hear your feedback, comments or suggestions regarding your experience with Sowarstock's website"%}
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="switchable ">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-5">
                <p class="lead" {% if LANGUAGE_CODE == 'ar' %}style="text-align:right"{% endif %}>
                    {% trans "To enroll or for any general information, please contact us on support@sowarstock.com"%}<br>
                    {% trans "or use the form below."%}
                </p>
            </div>
            <div class="col-md-6 col-12">
                <form method="post" action="" class="row mx-0">
                    {% csrf_token %}
                    <div class="col-md-6 col-12">
                        <label {% if LANGUAGE_CODE == 'ar' %}style="float:right"{% endif %}>{% trans "Your Name:"%}</label>
                        <input type="text" name="name" required>
                    </div>
                    <div class="col-md-6 col-12">
                        <label {% if LANGUAGE_CODE == 'ar' %}style="float:right"{% endif %}>{% trans "Email Address:"%}</label>
                        <input type="email" name="email" required>
                    </div>
                    <div class="col-md-12 col-12">
                        <label {% if LANGUAGE_CODE == 'ar' %}style="float:right"{% endif %}>{% trans "Message:"%}</label>
                        <textarea rows="4" name="message" required></textarea>
                    </div>
                    <div class="col-md-5 col-lg-4 col-6">
                        <button id="send_enquiry_button" type="submit" class="btn sowar_stock_color type--uppercase">{% trans "Send"%}</button>
                    </div>
                </form>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){

    $("#send_enquiry_button").click(function(){
        $(this).prop("disabled",true)
        {% if LANGUAGE_CODE == 'ar' %}
            $(this).html("... جاري الإرسال")
        {% else %}
            $(this).html("Submitting ... ")
        {% endif %}

        $(this).closest("form").submit()
    })
})
</script>
{% endblock %}