{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %}
Email Verification Success
{% endblock %}

{% block content %}
<section class="height-100 text-center">
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-7 col-lg-5">
                <h2><i class="fas fa-check-circle color--success"></i> {% trans "Your email address has been verified!"%}<br>
                    {% if user.type == "contributor" %}
                        {% trans "You can now complete registration by"%} <a href="{% url 'complete_registration' %}">{% trans "clicking here."%}</a>
                    {% endif %}
                </h2>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock %}