{% extends "ssw/main.html" %}
{% load static from staticfiles %}

{% block title %}
Email Verification Success
{% endblock %}

{% block content %}
<section class="height-100 text-center">
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-7 col-lg-5">
                <h2><i class="fas fa-check-circle color--success"></i> Your email address has been verified!<br>
                You can now <a href="{% url 'complete_registration' %}">complete registration</a></h2>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock %}