{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %}
{% trans "Sowarstock"%}
{% endblock %}

{% block content %}
<div class="main-container">
<section class="cover cover-features imagebg space--lg" data-scrim-bottom="9">
    <div class="background-image-holder" style="opacity: 1;">
        <img alt="background" src="{% static 'ssw/img/adventure-asia-background.jpg' %}">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-9 col-lg-7">
                <h1>
                    Time To Go With Sowarstock
                </h1>
                <p class="lead">
                    Our creative partners help us achieve our goal by producing creative, elegant, and professional work. The unique products that we offer leave our customers happy and satisfied. Join our expanding creative community.
                </p>
                <a class="btn btn--primary type--uppercase" href="/signup">
                    <span class="btn__text">
                        JOIN AS A CONTRIBUTOR
                    </span>
                </a>
            </div>
        </div>
        <!--end of row-->
        <div class="row">
            <div class="col-md-4">
                <div class="feature feature-1 boxed boxed--border bg--white">
                    <h5>Why Choose Sowarstock?</h5>
                    <p>
                        14 December, 2018
                    </p>
                    <a href="#">
                        Coming Soon
                    </a>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-1 boxed boxed--border bg--white">
                    <h5>Learn More About Sowarstock</h5>
                    <p>
                        14 December, 2018
                    </p>
                    <a href="#">
                        Coming Soon
                    </a>
                </div>
                <!--end feature-->
            </div>
            <div class="col-md-4">
                <div class="feature feature-1 boxed boxed--border bg--white">
                    <h5>Best Selling Images</h5>
                    <p>
                        14 December, 2018
                    </p>
                    <a href="#">
                        Coming Soon
                    </a>
                </div>
                <!--end feature-->
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="switchable bg--secondary">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-md-8 col-lg-7">
                <h2>Best Artists from the MENA Area</h2>
                <p class="lead">
                    We are a community of creative people from the MENA area and other countries around the globe with a common goal, to find the beauty that is hidden in the sand. We pride ourselves with the product that we provide.
                </p>
                <p class="lead">
                    We provide an easy to use platform for creative professionals to make a revenue of their work. We protect the rights of our creative partners and license their work to a global market. Anyone can be a creative partner by just agreeing to our Terms & Conditions and sending us their personal work, simplicity at its finest. We stand for creative professionalism and our platform offers Photographs, Calligraphy, Vectors, and Drawings.
                </p>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="text-block">
                    <h5>Global</h5>
                    <p>
                        support@sowarstock.com
                    </p>
                </div>
                <div class="text-block">
                    <h5>Cheynne</h5>
                    <p>
                        Incorp Services, Inc.
                        <br> 1910 Thomas Ave
                        <br> Cheyenne, WY 82001
                    </p>
                </div>
                <div class="text-block">
                    <h5>Almanakh</h5>
                    <p>
                        Alhasan Bin Ali St.
                        <br> Buliding No. 5271
                        <br> 32917-6657
                        <br> Almanakh, Tarout, KSA
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-12">
                <div class="feature">
                    <div class="radial radial--active" data-value="33" data-size="208" data-bar-width="8" data-color="#4a90e2" style="height: 208px; width: 208px; margin-top: -10em">
                        <span class="h3 radial__label center-title-to-radial">Sign up</span>
                    <canvas height="416" width="416" style="height: 208px; width: 208px; margin-top:-5em"></canvas></div>
                    <!--end radial-->
                    <p style="margin-top:15em">
                        Sign up with Sowarstock and join other contributors
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="feature">
                    <div class="radial radial--active" data-value="66" data-size="208" data-bar-width="8" data-color="#4a90e2" style="height: 208px; width: 208px; margin-top: -10em">
                        <span class="h3 radial__label center-title-to-radial">Upload</span>
                    <canvas height="416" width="416" style="height: 208px; width: 208px; margin-top:-5em"></canvas></div>
                    <!--end radial-->
                    <p style="margin-top:15em">
                        Start listing your photos, drawings and calligraphy work.
                    </p>
                </div>
            </div>
            <div class="col-md-4 col-12">
                <div class="feature">
                    <div class="radial radial--active" data-value="100" data-size="208" data-bar-width="8" data-color="#4a90e2" style="height: 208px; width: 208px; margin-top: -10em">
                        <span class="h3 radial__label center-title-to-radial">Earn</span>
                    <canvas height="416" width="416" style="height: 208px; width: 208px; margin-top:-5em"></canvas></div>
                    <!--end radial-->
                    <p style="margin-top:15em">
                        When someone sees your work and buys it, you will earn money
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="imageblock switchable feature-large bg--dark">
    <div class="imageblock__content col-lg-6 col-md-4 pos-right">
        <div class="background-image-holder" style="opacity: 1;">
            <img alt="image" src="{% static 'ssw/img/construction-2.jpg' %}">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-md-7">
                <h2>Best Images from the MENA Area</h2>
                <p class="lead">
                    We offer a high-quality licensed content that matches with different needs and multiple types of projects.
                </p>
                <p class="lead">
                     Take a look at our collection, choose the images you need, buy the licenses, download & use directly.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h2>Get In Touch</h2>
                <p class="lead">
                    We would love to hear your feedback, comments or suggestions regarding your experience with Sowarstock.
                </p>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="switchable">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-md-5">
                <p class="lead">
                    E:
                    <a href="#">support@sowarstock.com</a>
                    <br> P: +966 508990660
                </p>
                <p class="lead">
                    To enroll or for any general information, please contact us on email, whatsapp, or use the form here.
                </p>
                <p class="lead">
                    We endeavor to answer all enquiries within 2 business days.
                </p>
            </div>
            <div class="col-md-6 col-12">
                <form method="post" action="" class="row mx-0">
                    {% csrf_token %}
                    <div class="col-md-6 col-12">
                        <label>Your Name:</label>
                        <input type="text" name="name" id="name" class="validate-required">
                    </div>
                    <div class="col-md-6 col-12">
                        <label>Email Address:</label>
                        <input type="email" name="email" id="email" class="validate-required validate-email">
                    </div>
                    <div class="col-md-12 col-12">
                        <label>Message:</label>
                        <textarea rows="4" name="message" id="message" class="validate-required"></textarea>
                    </div>
                    <div class="col-md-5 col-lg-4 col-6">
                        <button id="send_enquiry_button" type="submit" class="btn btn--primary type--uppercase">Send Enquiry</button>
                    </div>
                </form>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
</div>
{% endblock %}

{% block js %}
<script>
$(document).ready(function(){

    $("#send_enquiry_button").click(function(){
        $(this).prop("disabled",true)
        {% if LANGUAGE_CODE == 'ar' %}
            $(this).html("... جاري الإرسال")
        {% else %}
            $(this).html("Submitting ... ")
        {% endif %}

        $(this).closest("form").submit()
    })
})
</script>
{% endblock %}