{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %}
{% trans "Sowarstock"%}
{% endblock %}

{% block content %}
<section class="unpad">
    <div class="container" style="max-width:100%">
        <div class="row">
            <div class="col">
                <!--
                {% if slider_images %}
                    <div class="slider" data-flickity='{ "autoPlay": true }'>

                        {% for image in slider_images %}
                            <div><img alt="Image" style="max-width:none" src="{{image.image.url}}"></div>
                        {% endfor %}
                    </div>
                {% else %}
                    <div class="slider" data-flickity='{ "autoPlay": true }'>
                        <div><img alt="Image" style="max-width:none" src="{% static 'ssw/img/work-1.jpg'%}"></div>
                        <div><img alt="Image" style="max-width:none" src="{% static 'ssw/img/work-2.jpg'%}"></div>
                        <div><img alt="Image" style="max-width:none" src="{% static 'ssw/img/work-3.jpg'%}"></div>
                        <div><img alt="Image" style="max-width:none" src="{% static 'ssw/img/work-4.jpg'%}"></div>
                        <div><img alt="Image" style="max-width:none" src="{% static 'ssw/img/work-5.jpg'%}"></div>
                        <div><img alt="Image" style="max-width:none" src="{% static 'ssw/img/work-6.jpg'%}"></div>
                    </div>
                {% endif %}
                -->
                <div class="slider" data-flickity='{ "autoPlay": true }'>
                    <div><img alt="Image" style="max-width:none" src="{% static 'ssw/img/work-1.jpg'%}"></div>
                    <div><img alt="Image" style="max-width:none" src="{% static 'ssw/img/work-2.jpg'%}"></div>
                    <div><img alt="Image" style="max-width:none" src="{% static 'ssw/img/work-3.jpg'%}"></div>
                    <div><img alt="Image" style="max-width:none" src="{% static 'ssw/img/work-4.jpg'%}"></div>
                    <div><img alt="Image" style="max-width:none" src="{% static 'ssw/img/work-5.jpg'%}"></div>
                    <div><img alt="Image" style="max-width:none" src="{% static 'ssw/img/work-6.jpg'%}"></div>
                </div>
            </div>
            <!--end of col-->
        </div>
        <!--end row-->
    </div>
    <!--end of container-->
</section>
<section class="bg--secondary">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="feature">
                    <i class="far fa-images fa-3x"></i>
                    <h4>{% trans "Exclusive Collections"%}</h4>
                    <p>
                        {% trans "Wide range of unique images"%}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature">
                    <i class="fas fa-file-contract fa-3x"></i>
                    <h4>{% trans "Flexible Licensing"%}</h4>
                    <p>
                        {% trans "Plans suit any budget"%}
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="feature">
                    <i class="far fa-images fa-3x"></i>
                    <h4>{% trans "Middle East Images"%}</h4>
                    <p>
                        {% trans "Middle Eastern-themed stock"%}
                    </p>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section class="unpad">
    <div class="masonry masonry--gapless">
        <div class="masonry__container masonry--active" style="position: relative; height: 956px;">
            <div class="masonry__item col-lg-4 col-md-6 col-12 filter-digital" data-masonry-filter="Digital" style="position: absolute; left: 0px; top: 0px;">
                <div class="project-thumb hover-element height-50">
                    <a href="#">
                        <div class="hover-element__initial">
                            <div class="background-image-holder" style="background: url(&quot;img/work-6.jpg&quot;); opacity: 1;">
                                <img alt="background" src="{% static 'ssw/img/work-6.jpg'%}">
                            </div>
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="project-thumb__title">
                                <h5>Nike Active</h5>
                                <span>Digital Marketing</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--end item-->
            <div class="masonry__item col-lg-8 col-md-6 col-12 filter-digital" data-masonry-filter="Digital" style="position: absolute; left: 542px; top: 0px;">
                <div class="project-thumb hover-element height-50">
                    <a href="#">
                        <div class="hover-element__initial">
                            <div class="background-image-holder" style="background: url(&quot;img/work-1.jpg&quot;); opacity: 1;">
                                <img alt="background" src="{% static 'ssw/img/work-1.jpg'%}">
                            </div>
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="project-thumb__title">
                                <h5>Unvest Capital</h5>
                                <span>Brand Collateral</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--end item-->
            <div class="masonry__item col-lg-8 col-md-6 col-12 filter-digital" data-masonry-filter="Digital" style="position: absolute; left: 0px; top: 478px;">
                <div class="project-thumb hover-element height-50">
                    <a href="#">
                        <div class="hover-element__initial">
                            <div class="background-image-holder" style="background: url(&quot;img/work-5.jpg&quot;); opacity: 1;">
                                <img alt="background" src="{% static 'ssw/img/work-5.jpg'%}">
                            </div>
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="project-thumb__title">
                                <h5>Nuaca</h5>
                                <span>Digital Design &amp; Strategy</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--end item-->
            <div class="masonry__item col-lg-4 col-md-6 col-12 filter-digital" data-masonry-filter="Digital" style="position: absolute; left: 1084px; top: 478px;">
                <div class="project-thumb hover-element height-50">
                    <a href="#">
                        <div class="hover-element__initial">
                            <div class="background-image-holder" style="background: url(&quot;img/work-4.jpg&quot;); opacity: 1;">
                                <img alt="background" src="{% static 'ssw/img/work-4.jpg'%}">
                            </div>
                        </div>
                        <div class="hover-element__reveal" data-overlay="9">
                            <div class="project-thumb__title">
                                <h5>Grove Interiors</h5>
                                <span>Digital Design &amp; Strategy</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!--end item-->
        </div>
        <!--end of masonry container-->
    </div>
    <!--end masonry-->
</section>
<section style="padding:5em; padding-bottom:0em">
    <div>
        <center>
            <h4>
                {% trans "New Arrivals"%}
            </h4>
        </center>

        <div class="masonry__container row">
            <div class="col-md-3 masonry__item">
                <a href="#" class="block">
                    <div class="feature feature-1 boxed boxed--border">
                        <h6 class="type--uppercase color--primary">{% trans "Catergory"%}</h6>
                        <img src="{% static 'ssw/img/work-4.jpg'%}">
                        <center>
                            <p>
                                {% trans "Name"%}
                            </p>
                        </center>

                    </div>
                    <!--end feature-->
                </a>
            </div>
            <div class="col-md-3 masonry__item">
                <a href="#" class="block">
                    <div class="feature feature-1 boxed boxed--border">
                        <h6 class="type--uppercase color--primary">{% trans "Catergory"%}</h6>
                        <img src="{% static 'ssw/img/work-5.jpg'%}">
                        <center>
                            <p>
                                {% trans "Name"%}
                            </p>
                        </center>
                    </div>
                    <!--end feature-->
                </a>
            </div>
            <div class="col-md-3 masonry__item">
                <a href="#" class="block">
                    <div class="feature feature-1 boxed boxed--border">
                        <h6 class="type--uppercase color--primary">{% trans "Catergory"%}</h6>
                        <img src="{% static 'ssw/img/work-6.jpg'%}">
                        <center>
                            <p>
                                {% trans "Name"%}
                            </p>
                        </center>
                    </div>
                    <!--end feature-->
                </a>
            </div>
            <div class="col-md-3 masonry__item">
                <a href="#" class="block">
                    <div class="feature feature-1 boxed boxed--border">
                        <h6 class="type--uppercase color--primary">{% trans "Catergory"%}</h6>
                        <img src="{% static 'ssw/img/work-2.jpg'%}">
                        <center>
                            <p>
                                {% trans "Name"%}
                            </p>
                        </center>
                    </div>
                    <!--end feature-->
                </a>
            </div>
        </div>
        <!--end of row-->
    </div>
</section>
<section class="bg--secondary" style="padding:5em">
    <div>
        <center>
            <h4>
               {% trans "Our Contributors"%}
            </h4>
        </center>
        <div class="masonry__container row">
            <div class="col-md-3 masonry__item">
                <a href="#" class="block">
                    <div class="feature feature-1 boxed boxed--border">
                        <center>
                            <img src="{% static 'ssw/img/default-avatar.png'%}">
                            <h5>
                                <b>Allen</b>
                            </h5>
                            <p>{% trans "Photographer"%}</p>
                        </center>
                    </div>
                    <!--end feature-->
                </a>
            </div>
            <div class="col-md-3 masonry__item">
                <a href="#" class="block">
                    <div class="feature feature-1 boxed boxed--border">
                        <center>
                            <img src="{% static 'ssw/img/default-avatar.png'%}">
                            <h5>
                                <b>Gilly</b>
                            </h5>
                            <p>{% trans "Photographer"%}</p>
                        </center>
                    </div>
                    <!--end feature-->
                </a>
            </div>
            <div class="col-md-3 masonry__item">
                <a href="#" class="block">
                    <div class="feature feature-1 boxed boxed--border">
                        <center>
                            <img src="{% static 'ssw/img/default-avatar.png'%}">
                            <h5>
                                <b>Jeff</b>
                            </h5>
                            <p>{% trans "Photographer"%}</p>
                        </center>
                    </div>
                    <!--end feature-->
                </a>
            </div>
            <div class="col-md-3 masonry__item">
                <a href="#" class="block">
                    <div class="feature feature-1 boxed boxed--border">
                        <center>
                            <img src="{% static 'ssw/img/default-avatar.png'%}">
                            <h5>
                                <b>Lew</b>
                            </h5>
                            <p>{% trans "Photographer"%}</p>
                        </center>
                    </div>
                    <!--end feature-->
                </a>
            </div>
        </div>
        <!--end of row-->
    </div>
</section>
<section style="padding:5em; padding-bottom:0em">
    <div>
        <center>
            <h4>
                {% trans "Featured Products"%}
            </h4>
        </center>

        <div class="masonry__container row">
            <div class="col-md-3 masonry__item">
                <a href="#" class="block">
                    <div class="feature feature-1 boxed boxed--border">
                        <h6 class="type--uppercase color--primary">{% trans "Catergory"%}</h6>
                        <img src="{% static 'ssw/img/work-4.jpg'%}">
                        <center>
                            <p>
                                {% trans "Name"%}
                            </p>
                        </center>

                    </div>
                    <!--end feature-->
                </a>
            </div>
            <div class="col-md-3 masonry__item">
                <a href="#" class="block">
                    <div class="feature feature-1 boxed boxed--border">
                        <h6 class="type--uppercase color--primary">{% trans "Catergory"%}</h6>
                        <img src="{% static 'ssw/img/work-5.jpg'%}">
                        <center>
                            <p>
                                {% trans "Name"%}
                            </p>
                        </center>
                    </div>
                    <!--end feature-->
                </a>
            </div>
            <div class="col-md-3 masonry__item">
                <a href="#" class="block">
                    <div class="feature feature-1 boxed boxed--border">
                        <h6 class="type--uppercase color--primary">{% trans "Catergory"%}</h6>
                        <img src="{% static 'ssw/img/work-6.jpg'%}">
                        <center>
                            <p>
                                {% trans "Name"%}
                            </p>
                        </center>
                    </div>
                    <!--end feature-->
                </a>
            </div>
            <div class="col-md-3 masonry__item">
                <a href="#" class="block">
                    <div class="feature feature-1 boxed boxed--border">
                        <h6 class="type--uppercase color--primary">{% trans "Catergory"%}</h6>
                        <img src="{% static 'ssw/img/work-2.jpg'%}">
                        <center>
                            <p>
                                {% trans "Name"%}
                            </p>
                        </center>
                    </div>
                    <!--end feature-->
                </a>
            </div>
        </div>
        <!--end of row-->
    </div>
</section>
{% endblock %}