{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %}
{% trans "Sign In"%}
{% endblock %}

{% block content %}
<section class="height-100 imagebg text-center" data-overlay="4">
                <div class="background-image-holder">
                    <img alt="background" src="{% static 'ssw/img/inner-6.jpg'%}">
                </div>
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-7 col-lg-5">
                            <h2>{% trans "Login to continue"%}</h2>
                            <p class="lead">
                                {% trans "Welcome back, sign in with your existing Stack account credentials"%}
                            </p>
                            <form method="post" action="">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-12">
                                        <input type="text" name="username" placeholder='{% trans "Username"%}'>
                                    </div>
                                    <div class="col-md-12">
                                        <input type="password" name="password" placeholder='{% trans "Password"%}'>
                                    </div>
                                    <div class="col-md-12">
                                        <button class="btn btn--primary type--uppercase" type="submit">{% trans "Login"%}</button>
                                    </div>
                                </div>
                                <!--end of row-->
                            </form>
                            <span class="type--fine-print block">{% trans "Dont have an account yet?"%}
                                <a href="/signup">{% trans "Create account"%}</a>
                            </span>
                            <span class="type--fine-print block">{% trans "Forgot your username or password?"%}
                                <a href="{% url 'recover_account' %}">{% trans "Recover account"%}</a>
                            </span>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
{% endblock %}