{% load static from staticfiles %}
{% load notifications_tags %}
{% load i18n %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="We are a community of creative people from the MENA area and other countries around the globe with a common goal,
         to find the beauty that's hidden in the sand. We pride our self with the product that we provide.">
        <meta charset="utf-8">
        <link rel="shortcut icon" href="https://s3.amazonaws.com/sowarstock/sowarstock_favicon.png" type="image/png">
        <link href="{% static 'ssw/css/bootstrap.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'ssw/css/stack-interface.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'ssw/css/socicon.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'ssw/css/lightbox.min.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'ssw/css/flickity.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'ssw/css/iconsmind.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'ssw/css/typeahead.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'ssw/css/jquery.steps.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'ssw/css/theme.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'ssw/css/custom.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'ssw/css/font-rubiklato.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="{% static 'ssw/css/justifiedGallery.min.css' %}" rel="stylesheet" type="text/css" media="all" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,300,400,400i,500,600,700%7CMerriweather:300,300i" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:400,400i,700%7CRubik:300,400,500" rel="stylesheet" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link href="{% static 'ssw/css/main.css' %}" rel="stylesheet" type="text/css" media="all" />
        {% block head %}{% endblock %}
    </head>
    <body class=" ">
        <a id="start" data-scroll-id="start" tabindex="-1" style="outline: none;"></a>
        <section class="bar bar-3 bar--sm bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                    </div>
                    <div class="col-lg-6 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <ul class="menu-horizontal">
                                {% if user.is_authenticated %}
                                <li class="dropdown">
                                    <span class="dropdown__trigger">{% trans "Hello"%}, {{ user }}</span>
                                    <div class="dropdown__container" style="left: -438.844px;">
                                        <div class="container">
                                            <div class="row">
                                                <div class="dropdown__content col-lg-2 col-md-4" style="left: 438.844px;">
                                                    <ul class="menu-vertical">
                                                        <li>
                                                            <a href="/profile">{% trans "Profile"%}</a>
                                                        </li>
                                                        <li>
                                                            <a href="/logout">{% trans "Logout"%}</a>
                                                            <!--end dropdown container-->
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!--end dropdown content-->
                                            </div>
                                            <!--end row-->
                                        </div>
                                    </div>
                                    <!--end dropdown container-->
                                </li>
                                {% endif %}

                                <li>
                                    <a href="#" data-notification-link="search-box">
                                        <i class="stack-search"></i>
                                    </a>
                                </li>
                                {% if user.type == "client" %}
                                    <li>
                                        <a href="{%url 'shopping_cart_main' %}">
                                            <span class="fa-stack has-badge" id="shopping_cart_icon">
                                              <i class="fa fa-circle fa-stack-2x"></i>
                                              <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                                            </span>
                                        </a>
                                    </li>
                                {% endif %}
                                <li class="dropdown dropdown--absolute">
                                    {% get_current_language as LANGUAGE_CODE %}
                                    {% get_available_languages as LANGUAGES %}
                                    {% get_language_info_list for LANGUAGES as languages %}
                                    <span class="dropdown__trigger">
                                        {% if LANGUAGE_CODE == "en" %}
                                            <img alt="Image" class="flag" src="{% static 'ssw/img/flag-1.png' %}">
                                        {% elif LANGUAGE_CODE == "ar" %}
                                            <img alt="Image" class="flag" src="{% static 'ssw/img/flag-3.png' %}">
                                        {% endif %}
                                    </span>
                                    <div class="dropdown__container" style="left: -1056.19px;">
                                        <div class="container">
                                            <div class="row">

                                                <div class="col-lg-1 dropdown__content" style="left: 1056.19px;">
                                                    <ul class="menu-vertical text-left">
                                                        <li>
                                                            <!--<form action="{% url 'set_language' %}" method="post">-->
                                                                {% csrf_token %}
                                                                <input name="next" type="hidden" value="{{ redirect_to }}">
                                                                <input name="language" type="hidden" value="{{languages.0.code}}">
                                                                <button style="cursor:pointer;border-width:0; margin-top:0">{{ languages.0.name_local }} ({{ languages.0.code }})</button>
                                                            <!--</form>-->
                                                        </li>
                                                        <li>
                                                             <!--<form action="{% url 'set_language' %}" method="post">-->
                                                                {% csrf_token %}
                                                                <input name="next" type="hidden" value="{{ redirect_to }}">
                                                                <input name="language" type="hidden" value="{{languages.1.code}}">
                                                                <button style="cursor:pointer;border-width:0; margin-top:0">{{ languages.1.name_local }} ({{ languages.1.code }})</button>
                                                            <!--</form>-->
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>
        <!-- search form -->
        <div class="notification pos-top pos-right search-box bg--white border--bottom notification--reveal notification--dismissed" data-animation="from-top" data-notification-link="search-box">
            <form action="{% url 'search' %}">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-8">
                        <input type="search" name="keywords" id="keywords" placeholder='{% trans "Find visual that work for you"%}'>
                    </div>
                    <div class="col-lg-1">
                        <button type="submit" class="btn sowar_stock_color"><li class="fa fa-search"></li></button>
                    </div>
                </div>
                <!--end of row-->
            </form>
            <div class="notification-close-cross notification-close"></div>
        </div>
        <!-- end search form -->
        <div class="nav-container ">
            <div class="bar bar--sm visible-xs">
                <div class="container">
                    <div class="row">
                        <div class="col-3 col-md-2">
                            <a href="/">
                                <img class="logo logo-dark" alt="logo" src="{% static 'ssw/img/sowarstock_logo_grey.png' %}">
                                <img class="logo logo-light" alt="logo" src="{% static 'ssw/img/sowarstock_logo_grey.png' %}">
                            </a>
                        </div>
                        <div class="col-9 col-md-10 text-right">
                            <a href="#" class="hamburger-toggle" data-toggle-class="#menu1;hidden-xs">
                                <i class="icon icon--sm stack-interface stack-menu"></i>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </div>
            <!--end bar-->
            <nav id="menu1" class="bar bar--sm bar-1 hidden-xs {% if activeDashboardMenu == "home" %} bar--absolute bar--transparent {% endif %}">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 hidden-xs">
                            <a href="/">
                                <div class="bar__module">
                                    <img class="logo logo-dark" alt="logo" src="{% static 'ssw/img/sowarstock_logo_grey.png' %}">
                                    <img class="logo logo-light" alt="logo" src="{% static 'ssw/img/sowarstock_logo_grey.png' %}">
                                </div>
                            <!--end module-->
                            </a>
                        </div>
                        <div class="col-lg-10 col-md-12 text-right text-left-xs text-left-sm">
                            <div class="bar__module">
                                <ul class="menu-horizontal text-left">
                                    <li class="dropdown">
                                        <a href="{% url 'photos_main' %}" {% if activeDashboardMenu == "photos" %} class="sowar_stock_color_font sowar_stock_color_underline"{% endif %}>Photos</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="{% url 'calligraphy_main' %}" {% if activeDashboardMenu == "calligraphy" %} class="sowar_stock_color_font sowar_stock_color_underline"{% endif %}>Calligraphy</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="{% url 'editorials_main' %}" {% if activeDashboardMenu == "editorials" %} class="sowar_stock_color_font sowar_stock_color_underline"{% endif %}>Editorials</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="{% url 'vectors_main' %}" {% if activeDashboardMenu == "vectors" %} class="sowar_stock_color_font sowar_stock_color_underline"{% endif %}>Drawings</a>
                                    </li>
                                    <li class="dropdown">
                                        <span class="dropdown__trigger">Legal</span>
                                        <div class="dropdown__container" style="left: -445.953px;">
                                            <div class="container">
                                                <div class="row">
                                                    <div class="dropdown__content col-lg-2 col-md-4" style="left: 445.953px;">
                                                        <ul class="menu-vertical">
                                                            <li>
                                                                <a href="{% url 'legal_contributor' %}">Contributor Agreement</a>
                                                            </li>
                                                            <li>
                                                                <a href="{% url 'legal_license' %}">License Agreement</a>
                                                            </li>
                                                            <li>
                                                                <a href="{% url 'legal_privacy' %}">Privacy Policy</a>
                                                            </li>
                                                            <li>
                                                                <a href="{% url 'legal_terms' %}">Terms and Conditions</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="dropdown">
                                        <a href="{% url 'about' %}" {% if activeDashboardMenu == "about" %} class="sowar_stock_color_font sowar_stock_color_underline"{% endif %}>About</a>
                                    </li>
                                    <li class="dropdown">
                                        <a href="{% url 'contact' %}" {% if activeDashboardMenu == "contact" %} class="sowar_stock_color_font sowar_stock_color_underline"{% endif %}>Contact</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="bar__module">
                                {% if not user.is_authenticated %}
                                    <a class="btn btn--sm type--uppercase" href="/login">
                                        <span class="btn__text">
                                            Log in
                                        </span>
                                    </a>
                                    <a class="btn btn--sm btn--primary type--uppercase" href="/signup">
                                        <span class="btn__text">
                                            Sign up
                                        </span>
                                    </a>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </nav>
            <!--end bar-->
        </div>

        {% if user.type == "contributor" and showcontributormenu %}
        <!-- contributor menu  -->
        {% include "ssw/menu/contributor_menu.html" %}
        <!-- end contributor menu  -->
        {% endif %}

        {% if user.type == "admin" and showadminmenu %}
        <!-- admin menu  -->
        {% include "ssw/menu/admin_menu.html" %}
        <!-- end admin menu  -->
        {% endif %}

        {% if user.type == "image_reviewer" and showreviewermenu %}
        <!-- image reviewer menu  -->
        {% include "ssw/menu/image_reviewer_menu.html" %}
        <!-- end image reviewer menu  -->
        {% endif %}

        {% if user.type == "financial_admin" and showfinancialmenu %}
        <!-- image reviewer menu  -->
        {% include "ssw/menu/financial_admin_menu.html" %}
        <!-- end image reviewer menu  -->
        {% endif %}

        {% if user.type == "client" and showclientmenu %}
        <!-- client menu  -->
        {% include "ssw/menu/client_menu.html" %}
        <!-- end client menu  -->
        {% endif %}

        <div class="main-container">

            <div class="row bg--secondary">
                {% for message in messages %}
                    <div class="notification pos-right pos-top notification--reveal" data-animation="from-top" data-autoshow="200">
                        <div class="boxed boxed--border border--round box-shadow bg--{{message.tags}}">
                            <div class="text-block color--white">
                                <br>
                                <p>
                                    {{message}}
                                </p>
                            </div>
                        </div>
                        <div class="notification-close-cross notification-close color--white"></div>
                    </div>
                {% endfor %}
                <!--
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    {% for message in messages %}
                        <div class="alert bg--{{message.tags}}">
                            <div {% if LANGUAGE_CODE == 'ar' %}style="float:right"{% endif %} class="alert__body">
                                <span>{{message}}</span>
                            </div>
                            <div {% if LANGUAGE_CODE == 'ar' %}style="float:left"{% endif %} class="alert__close">×</div>
                        </div>
                    {% endfor %}
                    -->
                    <!--
                    {% if user.type == "contributor" and not user.is_verified %}
                        <div class="alert bg--error">
                            <div class="alert__body">
                                <span {% if LANGUAGE_CODE == 'ar' %}style="text-align:right"{% endif %}>Please complete your profile from account settings</span>
                            </div>
                            <div class="alert__close">×</div>
                        </div>
                    {% endif %}
                    {% if user.type == "client" and not user.is_verified %}
                        <div class="alert bg--error">
                            <div class="alert__body">
                                <span {% if LANGUAGE_CODE == 'ar' %}style="text-align:right"{% endif %}>Please complete your profile by verifying your email address</span>
                            </div>
                            <div class="alert__close">×</div>
                        </div>
                    {% endif %}
                    -->
                </div>
            </div>

            {% block content %}{% endblock %}
            <!--
            <footer id="footer" class="footer-6 unpad--bottom bg--secondary ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 col-lg-3">
                            <h6 class="type--uppercase">About Us</h6>
                                <p>
                                    Sowarstock is a global provider of high-quality licensed images and art works
                                </p>
                        </div>
                        <div class="col-md-6 col-lg-3">
                            <h6 class="type--uppercase">Contact Us</h6>
                                <p>If you would like to contact us, please fill out the form in our <a href="/contact">contact us page</a></p>
                                <ul class="social-list list-inline">
                                    <li>
                                        <a href="https://twitter.com/">
                                            <i class="socicon socicon-twitter icon icon--xs"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.facebook.com/Sowarstock/">
                                            <i class="socicon socicon-facebook icon icon--xs"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/sowarstock/">
                                            <i class="socicon socicon-instagram icon icon--xs"></i>
                                        </a>
                                    </li>
                                </ul>
                        </div>
                        <br>
                        <div class="col-md-6 col-lg-3">
                            <h6 class="type--uppercase">Instagram</h6>
                            <div class="instafeed instafeed--gapless" data-user-name="sowarstock" data-amount="6" data-grid="3">
                            </div>
                        </div>
                        <br>
                        <div class="col-md-6 col-lg-3">
                            <h6 class="type--uppercase">Legal</h6>
                            <ul>
                                <li><a href="{% url 'legal_contributor' %}">Contributor Agreement</a></li>
                                <li><a href="{% url 'legal_license' %}">License Agreement</a></li>
                                <li><a href="{% url 'legal_privacy' %}">Privacy Policy</a></li>
                                <li><a href="{% url 'legal_terms' %}">Terms and Conditions</a></li>
                            </ul>
                            <span class="type--fine-print">©
                                    <span class="update-year">2018</span> Sowarstock — All Rights Reserved
                            </span>
                        </div>
                    </div>
                </div>
            </footer>
            <footer class="text-center-xs space--xs bg--dark ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <ul class="list-inline">
                                <li>
                                    <a href="{% url 'about' %}">
                                        <span class="h6 type--uppercase">{% trans "About"%}</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="/contact">
                                        <span class="h6 type--uppercase">{% trans "Contact Us"%}</span>
                                    </a>
                                </li>
                                 <li>
                                    <a href="#">
                                        <span class="h6 type--uppercase">{% trans "Blogs"%}</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-5 text-right text-center-xs">
                            <ul class="social-list list-inline list--hover">
                                <li>
                                    <a href="https://twitter.com/">
                                        <i class="socicon socicon-twitter icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/Sowarstock/">
                                        <i class="socicon socicon-facebook icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/sowarstock/">
                                        <i class="socicon socicon-instagram icon icon--xs"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-7">
                            <span class="type--fine-print">&copy;
                                <span class="update-year"></span> SowarStock LLC.</span>
                            <a class="type--fine-print" href="{% url 'legal_contributor' %}">Contributor Agreement</a>
                            <a class="type--fine-print" href="{% url 'legal_license' %}">License Agreement</a>
                            <a class="type--fine-print" href="{% url 'legal_privacy' %}">Privacy Policy</a>
                            <a class="type--fine-print" href="{% url 'legal_terms' %}">Terms</a>
                        </div>
                        <div class="col-md-5 text-right text-center-xs">
                            <a class="type--fine-print" href="#">support@sowarstock.com</a>
                        </div>
                    </div>
                </div>
            </footer>
            -->
            <footer class="space--sm footer-1 text-center-xs ">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list-inline list--hover">
                                <li>
                                    <a href="#">
                                        <span>Our Company</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Blogs</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Help</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span>Work With Us</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 text-right text-center-xs">
                            <ul class="social-list list-inline list--hover">
                                <li>
                                    <a href="https://twitter.com/">
                                        <i class="socicon socicon-twitter icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/Sowarstock/">
                                        <i class="socicon socicon-facebook icon icon--xs"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.instagram.com/sowarstock/">
                                        <i class="socicon socicon-instagram icon icon--xs"></i>
                                    </a>
                                </li>
                            </ul>
                            <a href="/contact" class="btn type--uppercase">
                                <span class="btn__text">
                                    Contact Us
                                </span>
                            </a>
                        </div>
                    </div>
                    <!--end of row-->
                    <div class="row">
                        <div class="col-md-12">
                            <img alt="Image" class="logo" src="{% static 'ssw/img/sowarstock_logo_grey.png' %}">
                            <span class="type--fine-print">©
                                <span class="update-year">2018</span> Sowarstock</span>
                            <a class="type--fine-print" href="{% url 'legal_privacy' %}">Privacy Policy</a>
                            <a class="type--fine-print" href="{% url 'legal_terms' %}">Terms</a>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </footer>
        </div>
        <!--<div class="loader"></div>-->
        <a class="back-to-top inner-link" href="#start" data-scroll-class="100vh:active">
            <i class="stack-interface stack-up-open-big"></i>
        </a>
        <script src="{% static 'ssw/js/jquery-3.1.1.min.js' %}"></script>
        <script src="{% static 'ssw/js/flickity.min.js' %}"></script>
        <script src="{% static 'ssw/js/easypiechart.min.js' %}"></script>
        <script src="{% static 'ssw/js/parallax.js' %}"></script>
        <script src="{% static 'ssw/js/typed.min.js' %}"></script>
        <script src="{% static 'ssw/js/datepicker.js' %}"></script>
        <script src="{% static 'ssw/js/typeahead.bundle.js' %}"></script>
        <script src="{% static 'ssw/js/isotope.min.js' %}"></script>
        <script src="{% static 'ssw/js/ytplayer.min.js' %}"></script>
        <script src="{% static 'ssw/js/lightbox.min.js' %}"></script>
        <script src="{% static 'ssw/js/granim.min.js' %}"></script>
        <script src="{% static 'ssw/js/jquery.steps.min.js' %}"></script>
        <script src="{% static 'ssw/js/countdown.min.js' %}"></script>
        <script src="{% static 'ssw/js/twitterfetcher.min.js' %}"></script>
        <script src="{% static 'ssw/js/spectragram.min.js' %}"></script>
        <script src="{% static 'ssw/js/smooth-scroll.min.js' %}"></script>
        <script src="{% static 'ssw/js/jquery.justifiedGallery.min.js' %}"></script>
        <script src="{% static 'ssw/js/scripts.js' %}"></script>
        <script src="{% static 'ssw/js/main.js' %}"></script>
        <script>
            {% if user.type == "admin" %}
                $.get( "/ajax/pending_products_count/", function( data ) {
                    var result = data.result
                    if(result == "success"){
                        var count = data.count
                        if(count > 0){
                            $("#products_count").after('<span class="label label-danger" style="min-width:10px">'+count+'</span>')
                        }
                    }
                });

                $.get( "/ajax/pending_requests_count/", function( data ) {
                    var result = data.result
                    if(result == "success"){
                        var count = data.count
                        if(count > 0){
                            $("#requests_count").after('<span class="label label-danger" style="min-width:10px">'+count+'</span>')
                        }
                    }
                });

                $.get( "/ajax/pending_faqs_count/", function( data ) {
                    var result = data.result
                    if(result == "success"){
                        var count = data.count
                        if(count > 0){
                            $("#faqs_count").after('<span class="label label-danger" style="min-width:10px">'+count+'</span>')
                        }
                    }
                });

                {% if not activeDashboardMenu == "reviews" %}
                    $.get( "/ajax/pending_reviews_count/", function( data ) {
                        var result = data.result
                        if(result == "success"){
                            var count = data.count
                            if(count > 0){
                                $("#reviews_count").html('<span class="label label-danger" style="min-width:10px">'+count+'</span>')
                            }
                        }
                    });
                {% endif %}
            {% endif %}

            {% if user.type == "image_reviewer" %}
                $.get( "/ajax/pending_products_count/", function( data ) {
                    var result = data.result
                    if(result == "success"){
                        var count = data.count
                        if(count > 0){
                            $("#products_count").after('<span class="label label-danger" style="min-width:10px">'+count+'</span>')
                        }
                    }
                });

            {% endif %}

            {% if user.type == "client" %}
                $.get( "/ajax/cart_items_count/", function( data ) {
                    var result = data.result
                    if(result == "success"){
                        var count = data.count
                        if(count > 0){
                            $("#shopping_cart_icon").attr('data-count',count)
                        }
                    }
                });
            {% endif %}

            {% if user.type == "contributor" %}
                {% if not activeDashboardMenu == "reviews" %}
                    $.get( "/ajax/pending_reviews_count/", function( data ) {
                        var result = data.result
                        if(result == "success"){
                            var count = data.count
                            if(count > 0){
                                $("#reviews_count").html('<span class="label label-danger" style="min-width:10px">'+count+'</span>')
                            }
                        }
                    });
                {% endif %}
            {% endif %}

            {% if LANGUAGE_CODE == 'ar' %}
                $('input').css("text-align","right")
            {% endif %}

            $('select').wrap('<div class="input-icon input-icon--right">')
            $('select').after('<i class="stack-down-open"></i>')

        </script>
        {% block js %}{% endblock%}
    </body>
</html>