{% extends "ssw/main.html" %}
{% load static from staticfiles %}

{% block title %}
Notifications
{% endblock %}

{% block content %}

<section class="bg--secondary space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="boxed boxed--lg boxed--border">
                                <h4>Notices</h4>
                                <hr>
                                {% if notifications %}
                                    {% for notification in notifications %}
                                        <p>
                                            {% if notification.unread %}
                                                <span class="color--success new_notification">NEW</span>
                                            {% endif %}
                                            {% if not notification.deleted %}
                                                <a href="{% url 'notifications_delete' notification.pk %}" class="btn btn-danger pull-right">DELETE</a>
                                            {% endif %}
                                            {% if notification.level == "info" %}
                                                <i class="fas fa-info-circle color--primary"></i>
                                            {% elif notification.level == "success" %}
                                                <i class="fas fa-check-square color--success"></i>
                                            {% elif notification.level == "warning" %}
                                                <i class="fas fa-exclamation-triangle color--warn"></i>
                                            {% elif notification.level == "error" %}
                                                <i class="fas fa-minus-circle color--error"></i>
                                            {% endif %}

                                                {{notification.verb|title}}
                                        </p>
                                        <p><i class="far fa-clock"></i> {{notification.timesince}} ago</p>
                                        <hr>
                                    {% endfor %}
                                {% else %}
                                    You don't have any notifications.
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        var count = $('.new_notification').length
        if(count > 0){
             $.get( "/ajax/notifications_undread_to_read/", function( data ) {
                    var result = data.result
                    if(result=="success"){
                        $("#notifications_count").remove()
                    }
             });
        }
    })
</script>
{% endblock %}