{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %}
{% trans "Notifications"%}
{% endblock %}

{% block content %}

<section class="bg--secondary space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="boxed boxed--lg boxed--border">
                                <h4>{% trans "Notices"%}</h4>
                                <hr>
                                {% if notifications %}
                                    {% for notification in notifications %}
                                        <p>
                                            {% if notification.unread %}
                                                <span class="color--success new_notification">{% trans "NEW"%}</span>
                                            {% endif %}
                                            {% if not notification.deleted %}
                                                <a data-tooltip="{% if LANGUAGE_CODE == 'ar' %} حذف {% else %} Delete Notice{% endif %}" href="{% url 'notifications_delete' notification.pk %}" class="color--error {% if LANGUAGE_CODE == 'ar' %} pull-left {% else %} pull-right{% endif %}"><i class="fas fa-trash-alt"></i></a>
                                            {% endif %}
                                            {% if notification.level == "info" %}
                                                <i class="fas fa-info-circle color--primary"></i>
                                            {% elif notification.level == "success" %}
                                                <i class="fas fa-check-square color--success"></i>
                                            {% elif notification.level == "warning" %}
                                                <i class="fas fa-exclamation-triangle color--warn"></i>
                                            {% elif notification.level == "error" %}
                                                <i class="fas fa-minus-circle color--error"></i>
                                            {% endif %}

                                                {% trans notification.verb %}
                                        </p>
                                        <p>
                                            <i class="far fa-clock"></i>
                                            {% if LANGUAGE_CODE == 'ar' %}
                                                {% trans "ago"%} {{notification.timesince}}
                                            {% else %}
                                                {{notification.timesince}} {% trans "ago"%}
                                            {% endif %}
                                        </p>
                                        <hr>
                                    {% endfor %}
                                {% else %}
                                <p>{% trans "You don't have any notifications."%}</p>
                                {% endif %}

                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        var count = $('.new_notification').length
        if(count > 0){
             $.get( "/ajax/notifications_undread_to_read/", function( data ) {
                    var result = data.result
                    if(result=="success"){
                        $("#notifications_count").remove()
                    }
             });
        }
    })
</script>
{% endblock %}