{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load i18n %}

{% block title %}
{% trans "Order"%} {{order.order_no}}
{% endblock %}

{% block content %}

<section class="bg--secondary space--sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="boxed boxed--lg boxed--border">
                    <h4>{% trans "Order"%} {{order.order_no}}</h4>
                    <ol class="breadcrumbs">
                        <li>
                            {% if user.type == "client" %}
                                <a href="{% url 'orders' %}">{% trans "Orders"%}</a>
                            {% elif user.type == "admin" %}
                                <a href="{% url 'admin_orders_main' %}">{% trans "Orders"%}</a>
                            {% endif %}
                        </li>
                        <li>{{order.order_no}}</li>
                    </ol>
                    <hr>
                    <div class="custom-scroll table-responsive">
                        <table id="ordersTable" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>{% trans "Thumbnail"%}</th>
                                    <th>{% trans "Product Name"%}</th>
                                    <th>{% trans "Price"%}</th>
                                    <th>{% trans "File"%}</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for item in order.orderitem.all %}
                                    <tr>
                                        <td><img src="{{item.product.thumbnail.url}}"></td>
                                        <td>{{ item.product }}</td>
                                        <td>${{ item.price }}</td>
                                        <td>
                                            {% if item.product.file_type == "jpeg/tiff" %}
                                                <a href="{{item.product.image_url}}" class="btn btn--primary color--white">{% trans "Download"%}</a>
                                            {% else %}
                                                <a href="{{item.product.file_url}}" class="btn btn--primary color--white">{% trans "Download"%}</a>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row-->
        <div class="row mt--2">
            <div class="col-md-12">
                <div class="boxed boxed--border cart-total">
                    <div class="row">
                        <div class="col-6">
                            <span class="h5 {% if LANGUAGE_CODE == 'ar' %} text-right {% endif %}">{% trans "Order Subtotal"%}:</span>
                        </div>
                        <div class="col-6 {% if LANGUAGE_CODE == 'ar' %} text-left {% else %} text-right {% endif %}">
                            <span>${{order.total}}</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="h5 {% if LANGUAGE_CODE == 'ar' %} text-right {% endif %}">{% trans "Fees"%}:</span>
                        </div>
                        <div class="col-6 {% if LANGUAGE_CODE == 'ar' %} text-left {% else %} text-right {% endif %}">
                            <span>$0</span>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-6">
                            <span class="h5 {% if LANGUAGE_CODE == 'ar' %} text-right {% endif %}">{% trans "Total"%}:</span>
                        </div>
                        <div class="col-6 {% if LANGUAGE_CODE == 'ar' %} text-left {% else %} text-right {% endif %}">
                            <span class="h5">${{order.total}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

{% endblock %}