{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %}
{% trans "Orders"%}
{% endblock %}

{% block content %}

<section class="bg--secondary space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="boxed boxed--lg boxed--border">
                                <h4>{% trans "Orders"%}</h4>
                                <hr>
                                {% if orders %}
                                    <div class="custom-scroll table-responsive">
                                        <table id="ordersTable" class="table table-bordered table-hover">
                                            <thead>
                                                <tr>
                                                    <th>{% trans "Order No"%}</th>
                                                    <th>{% trans "Items in order"%}</th>
                                                    <th>{% trans "Total"%}</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                {% for order in orders %}
                                                    <tr>
                                                        <td><a href="{% url 'order_details' order.order_no %}">{{ order.order_no }}</a></td>
                                                        <td>{{ order.orderitem.all|length }}</td>
                                                        <td>${{ order.total }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                {% else %}
                                    {% trans "You don't have any orders"%}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

{% endblock %}