{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load my_tags %}
{% block title %}
Profile
{% endblock %}

{% block content %}

<section class="bg--secondary space--sm">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="boxed boxed--lg boxed--border">
                    <div class="text-block text-center">
                        {% if other_profile.profile_image_url %}
                            <a href="{{other_profile.profile_image_url}}">
                                <img alt="avatar" src="{{other_profile.profile_image_crop.url}}" class="image--md img-circle">
                            </a>
                        {% else %}
                            <img alt="avatar" src="{% static 'ssw/img/default-avatar.png' %}" class="image--md img-circle">
                        {% endif %}
                        <span class="h5">{{other_profile.first_name}} {{other_profile.last_name}}</span>
                        <span>{{other_profile.job_title|default:""}}</span>
                        <span class="label">{{other_profile.get_type_display}}</span>
                    </div>
                    <div class="text-block clearfix text-center">
                        <ul class="row row--list">
                            <li class="col-md-4">
                                <span class="type--fine-print block">Location:</span>
                                <span>{{other_profile.address.country.name}} {{other_profile.address.country.unicode_flag}}</span>
                            </li>
                            <li class="col-md-4">
                                <span class="type--fine-print block">Member Since:</span>
                                <span>{{other_profile.date_joined|date:'F Y'}}</span>
                            </li>
                            <li class="col-md-4">
                                <span class="type--fine-print block">Contact:</span>
                                <a href="#">{{other_profile.email}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="boxed boxed--border">
                    <h4>About Me</h4>
                    <p>{{ other_profile.description|default:"This person doesn't have anything here yet." }}</p>
                </div>
                {% if other_profile.type == "contributor" %}
                    <div class="boxed boxed--border">
                        <h4>
                            Products
                            {% if products.count > 3 %}
                                <span class="pull-right h5"><a href="{% url 'profile_products' other_profile%}">view all</a></span>
                            {% endif %}
                        </h4>

                        <div class="masonry__container row">
                            {% for product in products %}
                                {% if forloop.counter == products.count|sub:1 or forloop.counter == products.count|sub:2 or forloop.last %}
                                    <div class="col-md-4 masonry__item">
                                        <a href="{% url 'product_public' product.public_id %}" class="block">
                                            <div class="feature feature-1 boxed boxed--border">
                                                <h6 class="type--uppercase color--primary">{{product.category}}</h6>
                                                <img src="{{ product.thumbnail.url}}">
                                                <p>
                                                    {{product.title}}
                                                </p>
                                            </div>
                                            <!--end feature-->
                                        </a>
                                    </div>
                                {% endif %}
                            {% empty %}
                                <p>This contributor has no products yet.</p>
                            {% endfor %}
                        </div>
                        <!--end of row-->
                    </div>
                    {% if other_profile.featured %}
                        <div class="boxed boxed--border">
                            <h4>Portfolio URL</h4>
                            <p>{{ other_profile.portfolio_url|default:"No profile URL provided yet." }}</p>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>

{% endblock %}