{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %}
{% trans "Photos"%}
{% endblock %}

{% block content %}

<section class="text-center imagebg" data-overlay="4">
    <div class="background-image-holder" style="opacity: 1;">
        <img alt="background" src="{% static 'ssw/img/recruitment-4.jpg' %}">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-lg-8">
                <h1>{% trans "Photos"%}</h1>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
<section>
    <div class="container" style="max-width:90%">
        {% if photos %}
            <div class="masonry">
                <div class="masonry-filter-container text-center d-flex flex-wrap justify-content-center align-items-center">
                    {% if LANGUAGE_CODE == 'ar' %}
                        <span style="margin-left:2em">{% trans "Category"%}:</span>
                        <div class="masonry-filter-holder">
                            <div class="masonry__filters" data-filter-all-text="All Categories">
                                <ul>
                                    <li class="active" data-masonry-filter="*">{% trans "All Categories"%}</li>
                                    {% for subcategory in subcategories %}
                                        <li class="enable-{{subcategory.get_simple_name}}">{{subcategory}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>

                    {% else %}
                        <span>{% trans "Category:"%}</span>
                        <div class="masonry-filter-holder">
                            <div class="masonry__filters" data-filter-all-text="All Categories">
                                <ul>
                                    <li class="active enable-all-categories" data-masonry-filter="*">{% trans "All Categories"%}</li>
                                    {% for subcategory in subcategories %}
                                        <li class="enable-{{subcategory.get_simple_name}}">{{subcategory}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    {% endif %}
                </div>
                <!--end masonry filters-->
                <div id="mygallery" >
                    {% for photo in photos %}
                        <a href="{% url 'product_public' photo.public_id %}" class="{{photo.subcategory.get_simple_name}}">
                            <img alt="{{photo.title}}" src="{{ photo.thumbnail.url }}">
                        </a>
                    {% endfor %}
                </div>
                <!--end of row-->
            </div>
        {% else %}
        <h2>{% trans "There are no photos."%}</h2>
        {% endif %}
    </div>
</section>

{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){

        $('.enable-all-categories').click(function () {
            $("#mygallery").justifiedGallery({ filter: false });
        });

        {% for photo in photos %}
            $('.enable-{{photo.subcategory.get_simple_name}}').click(function () {
                $("#mygallery").justifiedGallery({ filter: '.{{photo.subcategory.get_simple_name}}' });
            });
        {% endfor %}

        {% if LANGUAGE_CODE == 'en' %}
            $("#mygallery").justifiedGallery({
                rowHeight : 220,
                lastRow : 'nojustify',
                margins : 8
            });
        {% else %}
            $("#mygallery").justifiedGallery({
                rowHeight : 220,
                lastRow : 'right',
                margins : 8
            });
        {% endif %}

    })
</script>
{% endblock %}