{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load progress_bar %}
{% block title %}
New Product
{% endblock %}

{% block content %}

<section class="bg--secondary space--sm">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="boxed boxed--lg boxed--border">
                    <div id="account-profile" class="account-tab">
                        <h4>New Product</h4>
                        <p style="color:red">
                            Allowed file extensions: JPEG, TIFF and EPS only<br>
                            All images must be at least 4 MP (megapixels)<br>
                            Image size cannot exceed 50 MB, and EPS files cannot exceed 15 MB<br>
                            For EPS files, you have also to upload an image representing the file and that will
                            be displayed in the site
                        </p>
                        <form method="post" action="" enctype="multipart/form-data">

                                {{form.title.label_tag}}
                                {{form.title}}
                                {{form.title.errors}}
                                <br><br>
                                {{form.file_type.label_tag}}
                                {{form.file_type}}
                                {{form.file_type.errors}}
                                <br>
                                <div id="image_field_wrapper">
                                    {{form.image.label_tag}}
                                    {{form.image}}
                                    {{form.image.errors}}
                                    <br><br>
                                </div>

                                <div id="file_field_wrapper">
                                    {{form.file.label_tag}}
                                    {{form.file}}
                                    {{form.file.errors}}
                                    <br><br>
                                </div>
                                {{form.description.label_tag}}
                                {{form.description}}
                                {{form.description.errors}}
                                <br><br>
                                {{form.keywords.label_tag}} (comma separated)
                                {{form.keywords}}
                                {{form.keywords.errors}}
                                <br><br>
                                {{form.category.label_tag}}
                                {{form.category}}
                                {{form.category.errors}}
                                <br>
                                <div id="subcategory_field_wrapper">
                                    {{form.subcategory.label_tag}}
                                    {{form.subcategory}}
                                    {{form.subcategory.errors}}
                                    <br><br>
                                </div>
                                {{form.adult_content.errors}}
                                <div id="adult_content_checkbox_wrapper" class="input-checkbox input-checkbox--switch">
                                    <input type="checkbox" name="adult_content" id="id_adult_content">
                                    <label for="id_adult_content"></label>
                                </div>
                                <span>
                                    Adult Content
                                    <div class="modal-instance">
                                        <a href="#" class="modal-trigger color--primary"><i class="far fa-question-circle"></i></a>
                                        <div class="modal-container">
                                            <div class="modal-content">
                                                <div class="boxed boxed--lg">
                                                    <h2>Adult Content</h2>
                                                    <hr class="short">
                                                    <p class="lead">Content that is not generally thought to be appropriate for viewing by children (such as violence, dangerous fantasy, and hate propaganda)</p>
                                                </div>
                                                <div class="modal-close modal-close-cross"></div>
                                            </div>
                                        </div>
                                    </div><!--end of modal instance-->
                                </span>
                                <br><br>
                                {{form.exclusive.errors}}
                                <div id="exclusive_checkbox_wrapper" class="input-checkbox input-checkbox--switch">
                                    <input type="checkbox" name="exclusive" id="id_exclusive">
                                    <label for="id_exclusive"></label>
                                </div>
                                <span>
                                    Exclusive
                                    <div class="modal-instance">
                                        <a href="#" class="modal-trigger color--primary"><i class="far fa-question-circle"></i></a>
                                        <div class="modal-container">
                                            <div class="modal-content">
                                                <div class="boxed boxed--lg">
                                                    <h2>Exclusive</h2>
                                                    <hr class="short">
                                                    <p class="lead">Content that you plan to sell or license through Sowarstock ONLY.</p>
                                                    <p class="lead">For more, please read <a href="{% url 'legal_contributor' %}" target="_blank">The Contributor Agreement</a></p>
                                                </div>
                                                <div class="modal-close modal-close-cross"></div>
                                            </div>
                                        </div>
                                    </div><!--end of modal instance-->
                                </span>
                                <br><br>
                                {{form.released.errors}}
                                <div id="released_checkbox_wrapper" class="input-checkbox input-checkbox--switch">
                                    <input type="checkbox" name="released" id="id_released">
                                    <label for="id_released"></label>
                                </div>
                                <span>
                                    Released
                                    <div class="modal-instance">
                                        <a href="#" class="modal-trigger color--primary"><i class="far fa-question-circle"></i></a>
                                        <div class="modal-container">
                                            <div class="modal-content">
                                                <div class="boxed boxed--lg">
                                                    <h2>Released</h2>
                                                    <hr class="short">
                                                    <p class="lead">A document stipulating conditions under which the Contributor may lawfully use photographs of another person or property for commercial and other purposes.</p>
                                                    <p class="lead">For more, please read <a href="{% url 'legal_contributor' %}" target="_blank">The Contributor Agreement</a></p>
                                                </div>
                                                <div class="modal-close modal-close-cross"></div>
                                            </div>
                                        </div>
                                    </div><!--end of modal instance-->
                                </span>
                                <br><br>
                                {{form.editorial.errors}}
                                <div id="editorial_checkbox_wrapper" class="input-checkbox input-checkbox--switch">
                                    <input type="checkbox" name="editorial" id="id_editorial">
                                    <label for="id_editorial"></label>
                                </div>
                                <span>
                                    Editorial
                                    <div class="modal-instance">
                                        <a href="#" class="modal-trigger color--primary"><i class="far fa-question-circle"></i></a>
                                        <div class="modal-container">
                                            <div class="modal-content">
                                                <div class="boxed boxed--lg">
                                                    <h2>Editorial</h2>
                                                    <hr class="short">
                                                    <p class="lead">An Editorial image is one that is used:</p>
                                                    <p class="lead">- In a newspaper or magazine article</p>
                                                    <p class="lead">- On a blog or website for descriptive purposes</p>
                                                    <p class="lead">- In a non-commercial presentation</p>
                                                </div>
                                                <div class="modal-close modal-close-cross"></div>
                                            </div>
                                        </div>
                                    </div><!--end of modal instance-->
                                </span>
                                <br><br>
                                {{form.price_type.label_tag}}
                                {{form.price_type}}
                                {{form.price_type.errors}}
                                <br>
                                {{form.standard_price.label_tag}}
                                <div class="modal-instance">
                                    <a href="#" class="modal-trigger color--primary"><i class="far fa-question-circle"></i></a>
                                    <div class="modal-container">
                                        <div class="modal-content">
                                            <div class="boxed boxed--lg">
                                                <h2>Pricing</h2>
                                                <hr class="short">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <center><h2><i class="fas fa-pencil-alt"></i></h2></center>
                                                        <h2>STANDARD LICENSE</h2>
                                                        <p>MINOR USAGE - Unlimited</p>
                                                        <p>MAJOR USAGE IN RESALE PRODUCT(S) - Up to 10</p>
                                                        <p>A MAJOR USAGE IN PRODUCT(S) FOR FREE DISTRIBUTION - Up to 1k</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <center><h2><i class="fas fa-star"></i></h2></center>
                                                        <h2>EXTENDED LICENSE</h2>
                                                        <p>MINOR USAGE - Unlimited</p>
                                                        <p>MAJOR USAGE IN RESALE PRODUCT(S) - Up to 500</p>
                                                        <p>A MAJOR USAGE IN PRODUCT(S) FOR FREE DISTRIBUTION - Up to 100k</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-close modal-close-cross"></div>
                                        </div>
                                    </div>
                                </div><!--end of modal instance-->
                                {{form.standard_price}}
                                {{form.standard_price.errors}}
                                <i id="standard_price_error" class="color--error"></i>
                                <br><br>
                                {{form.extended_price.label_tag}}
                                <div class="modal-instance">
                                    <a href="#" class="modal-trigger color--primary"><i class="far fa-question-circle"></i></a>
                                    <div class="modal-container">
                                        <div class="modal-content">
                                            <div class="boxed boxed--lg">
                                                <h2>Pricing</h2>
                                                <hr class="short">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <center><h2><i class="fas fa-pencil-alt"></i></h2></center>
                                                        <h2>STANDARD LICENSE</h2>
                                                        <p>MINOR USAGE - Unlimited</p>
                                                        <p>MAJOR USAGE IN RESALE PRODUCT(S) - Up to 10</p>
                                                        <p>A MAJOR USAGE IN PRODUCT(S) FOR FREE DISTRIBUTION - Up to 1k</p>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <center><h2><i class="fas fa-star"></i></h2></center>
                                                        <h2>EXTENDED LICENSE</h2>
                                                        <p>MINOR USAGE - Unlimited</p>
                                                        <p>MAJOR USAGE IN RESALE PRODUCT(S) - Up to 500</p>
                                                        <p>A MAJOR USAGE IN PRODUCT(S) FOR FREE DISTRIBUTION - Up to 100k</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-close modal-close-cross"></div>
                                        </div>
                                    </div>
                                </div><!--end of modal instance-->
                                {{form.extended_price}}
                                {{form.extended_price.errors}}
                                <i id="extended_price_error" class="color--error"></i>
                                <br><br>
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-lg-3 col-md-4">
                                    <button id="submit_product_button" type="submit" class="btn btn--primary type--uppercase">
                                        <span id="submit_product_text">Save</span>
                                        <img id="submit_product_loader" class="hidden" style="max-height:1.5em" src="{% static 'ssw/img/ajax-loader.gif' %}">
                                    </button>
                                </div>
                                <div class="col-lg-3 col-md-4">
                                    <a href="/products" class="btn btn--default type--uppercase">Cancel</a>
                                </div>
                            </div>
                            <i id="form_error_message" class="color--error"></i>
                        </form>

                        {% progress_bar %}

                    </div>
                </div>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock %}

{% block js %}
    {% progress_bar_media %}
<script>
    $( document ).ready(function() {

        $("#id_price_type").change(function(){
            var priceType = $(this).val()

            if(priceType == "default"){
                $("#id_standard_price").val("15")
                $("#id_extended_price").val("149")
            }else if(priceType == "custom"){
                $("#id_standard_price").val("")
                $("#id_extended_price").val("")
            }
        })

        $("#id_standard_price").blur(function(){
            var standardPrice = $(this).val()
            var extendedPrice = $("#id_extended_price").val()

            if(+standardPrice < 15){
                $("#standard_price_error").html("Price cannot be less than the default price of $15")
                $(this).val("15")
            }else {
                $("#standard_price_error").html("")
            }

            if(+standardPrice > +extendedPrice && +extendedPrice < 149){
                $("#id_extended_price").val("149")
            }

            if(+standardPrice > +extendedPrice && +extendedPrice >= 149){
                $("#id_extended_price").val(standardPrice)
            }

        })

        $("#id_extended_price").blur(function(){
            var extendedPrice = $(this).val()
            var standardPrice = $("#id_standard_price").val()

            if(+extendedPrice < 149){
                $("#extended_price_error").html("Price cannot be less than the default price of $149")
                $(this).val("149")
            }else{
                $("#extended_price_error").html("")
            }

            if(+standardPrice > +extendedPrice){
                $("#extended_price_error").html("Extended price cannot be less than standard price")
                $(this).val(standardPrice)
            }

        })

        $("#id_category").change(function(){
            var categoryId = $(this).val()

            if(categoryId==3){
                $("#subcategory_field_wrapper").addClass("hidden")
            }else{
                $("#subcategory_field_wrapper").removeClass("hidden")
            }

            $.ajax({
                url: "/ajax/load_subcategories",
                data: {
                    'category' : categoryId
                },
                success: function(data){
                    $("#id_subcategory").html(data)
                }
            })
        })

        var fileType = $("#id_file_type").val()
        if(fileType == "jpeg/tiff"){
                $("#file_field_wrapper").addClass("hidden")
                $("#image_field_wrapper").removeClass("hidden")
        }else if(fileType == "eps"){
                $("#image_field_wrapper").addClass("hidden")
                 $("#file_field_wrapper").removeClass("hidden")
        }

        $("#id_file_type").change(function(){

            var fileType = $(this).val()

            if(fileType == "jpeg/tiff"){
                $("#file_field_wrapper").addClass("hidden")
                $("#image_field_wrapper").removeClass("hidden")
            }else if(fileType == "eps"){
                $("#image_field_wrapper").addClass("hidden")
                 $("#file_field_wrapper").removeClass("hidden")
            }
        })

        $("#submit_product_button").click(function(e){
            var fileType = $("#id_file_type").val()

            if(fileType=="jpeg/tiff"){
                var image = $("#id_image").val()
                if(image==""){
                    e.preventDefault()
                    $("#form_error_message").html("Please upload an image")
                }else{
                    $(this).prop("disabled",true)
                    $("#submit_product_text").html("Submitting ... ")
                    $("#submit_product_loader").removeClass("hidden")
                    $(this).closest("form").submit()
                }
            }else if(fileType=="eps"){
                var file = $("#id_file").val()
                if(file==""){
                    e.preventDefault()
                    $("#form_error_message").html("Please upload a file")
                }else{
                    $(this).prop("disabled",true)
                    $("#submit_product_text").html("Submitting ... ")
                    $("#submit_product_loader").removeClass("hidden")
                    $(this).closest("form").submit()
                }
            }

        })

    });
</script>
{% endblock %}
