{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% block title %}
Products
{% endblock %}

{% block content %}

    <section class="bg--secondary space--sm">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="boxed boxed--lg boxed--border">
                        <div id="account-profile" class="account-tab">
                            <h4>
                                Products
                                {% if user.type == "contributor" and user.is_verified and not user.suspended %}
                                    <a class="btn btn--primary btn--icon pull-right" href="/products/new">
                                        <span class="btn__text">
                                         <i class="icon-Add-File"></i> New Upload</span>
                                    </a>
                                {% endif %}
                            </h4>
                            <div class="tabs-container" data-content-align="left">
                                <ul class="tabs">
                                    <li class="active">
                                        <div class="tab__title">
                                            <span class="h5">Pending Approval</span>
                                        </div>
                                        <div class="tab__content">
                                            {% if pending %}
                                                <div class="custom-scroll table-responsive">
                                                  <table id="pendingProductsTable" class="table table-bordered table-hover">
                                                      <thead>
                                                      <tr>
                                                          <th>Photo Id</th>
                                                          <th>Thumbnail</th>
                                                          <th>Title</th>
                                                      </tr>
                                                      </thead>
                                                      <tbody>
                                                      {% for product in pending reversed %}
                                                        <tr>
                                                            <td><a href="{% url 'product_pending' product.public_id %}">{{ product.public_id }}</a></td>
                                                            <td>
                                                                <a href="{{ product.get_display_image }}"><img src="{{ product.thumbnail.url }}"></a>
                                                            </td>
                                                            <td>{{ product.title }}</td>
                                                        </tr>
                                                      {% endfor %}
                                                      </tbody>
                                                  </table>
                                                </div>
                                            {% else %}
                                            <b>There are no pending approval products</b>
                                            {% endif %}
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title">
                                            <span class="h5">Approved</span>
                                        </div>
                                        <div class="tab__content">
                                            {% if approved %}
                                                <div class="custom-scroll table-responsive">
                                                  <table id="approvedProductsTable" class="table table-bordered table-hover">
                                                      <thead>
                                                      <tr>
                                                          <th>Photo Id</th>
                                                          <th>Thumbnail</th>
                                                          <th>Title</th>
                                                      </tr>
                                                      </thead>
                                                      <tbody>
                                                          {% for product in approved reversed %}
                                                            <tr>
                                                                <td><a href="{% url 'product_details' product.public_id %}">{{ product.public_id }}</a></td>
                                                                <td>
                                                                    <a href="{{ product.get_display_image }}"><img src="{{ product.thumbnail.url }}"></a>
                                                                </td>
                                                                <td>{{ product.title }}</td>
                                                            </tr>
                                                          {% endfor %}
                                                      </tbody>
                                                  </table>
                                                </div>
                                            {% else %}
                                                <b>There are no approved products</b>
                                            {% endif %}
                                        </div>
                                    </li>
                                    <li>
                                        <div class="tab__title">
                                            <span class="h5">Rejected</span>
                                        </div>
                                        <div class="tab__content">
                                            {% if rejected %}
                                                <div class="custom-scroll table-responsive">
                                                  <table id="rejectedProductsTable" class="table table-bordered table-hover">
                                                      <thead>
                                                      <tr>
                                                          <th>Photo Id</th>
                                                          <th>Thumbnail</th>
                                                          <th>Title</th>
                                                      </tr>
                                                      </thead>
                                                      <tbody>
                                                      {% for product in rejected reversed %}
                                                        <tr>
                                                            <td><a href="{% url 'product_details' product.public_id %}">{{ product.public_id }}</a></td>
                                                            <td>
                                                                <a href="{{ product.get_display_image}}"><img src="{{ product.thumbnail.url }}"></a>
                                                            </td>
                                                            <td>{{ product.title }}</td>
                                                        </tr>
                                                      {% endfor %}
                                                      </tbody>
                                                  </table>
                                                </div>
                                            {% else %}
                                                <b>There are no rejected products</b>
                                            {% endif %}
                                        </div>
                                    </li>
                                </ul>
                            </div><!--end of tabs container-->
                        </div>
                    </div>
                </div>
            </div>
            <!--end of row-->
        </div>
        <!--end of container-->
    </section>

{% endblock %}