<div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature feature-3 boxed boxed--lg boxed--border">
                        <a href="{% url 'fadmin_earnings_main' %}">
                            <center>
                                <i class="fas fa-money-bill-wave-alt fa-4x" style="color:purple"></i>
                                <h4>Sales</h4>
                                <h1>
                                    $ {{sales}}
                                </h1>
                            </center>
                        </a>
                    </div>
                    <!--end feature-->
                </div>
                <div class="col-md-4">
                    <div class="feature feature-3 boxed boxed--lg boxed--border">
                        <a href="{% url 'fadmin_earnings_main' %}">
                            <center>
                                <i class="fas fa-money-bill-wave-alt fa-4x color--success"></i>
                                <h4>Earnings</h4>
                                <h1>
                                    $ {{earnings}}
                                </h1>
                            </center>
                        </a>
                    </div>
                    <!--end feature-->
                </div>
                <div class="col-md-4">
                    <div class="feature feature-3 boxed boxed--lg boxed--border">
                        <a href="{% url 'fadmin_earnings_main' %}">
                            <center>
                                <i class="fas fa-money-bill-wave-alt fa-4x color--error"></i>
                                <h4>Owed</h4>
                                <h1>
                                    $ {{owed}}
                                </h1>
                            </center>
                        </a>
                    </div>
                    <!--end feature-->
                </div>
            </div>
            <!--end of row-->
        </div>