{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %}
Photos
{% endblock %}

{% block content %}

{% if products %}
<section>
    <div class="container">
        <h4>{{other_profile}}'s Products</h4>
        <ol class="breadcrumbs">
            <li>
                <a href="{% url 'other_profile' other_profile %}">{{other_profile}}</a>
            </li>
            <li>Products</li>
        </ol>
        <div class="masonry">
            <div class="masonry-filter-container text-center d-flex flex-wrap justify-content-center align-items-center">
                <span>Category:</span>
                <div class="masonry-filter-holder">
                    <div class="masonry__filters" data-filter-all-text="All Categories">
                        <ul>
                            <li class="active enable-all-categories" data-masonry-filter="*">{% trans "All Categories"%}</li>
                            {% for subcategory in subcategories %}
                                <li class="enable-{{subcategory.get_simple_name}}">{{subcategory}}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <!--end masonry filters-->
             <div id="mygallery" >
                {% for product in products reversed %}
                    <a href="{% url 'product_public' product.public_id %}" class="{{product.subcategory.get_simple_name}}">
                        <img alt="{{product.title}}" src="{{ product.thumbnail.url }}">
                    </a>
                {% endfor %}
            </div>
            <!--end of row-->
        </div>
    </div>
</section>
{% else %}
There are no products.
{% endif %}

{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){

        $('.enable-all-categories').click(function () {
            $("#mygallery").justifiedGallery({ filter: false });
        });

        {% for product in products %}
            $('.enable-{{product.subcategory.get_simple_name}}').click(function () {
                $("#mygallery").justifiedGallery({ filter: '.{{product.subcategory.get_simple_name}}' });
            });
        {% endfor %}

        $("#mygallery").justifiedGallery({
            rowHeight : 200,
            lastRow : 'nojustify',
            margins : 5
        });
    })
</script>
{% endblock %}