<div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature feature-3 boxed boxed--lg boxed--border">
                        <a href="{% url 'reviewer_products_main' %}">
                            <center>
                                <i class="far fa-images fa-4x" style="color:purple"></i>
                                <h4>Pending Products</h4>
                                <h1>
                                    {{pending.count}}
                                </h1>
                                <a href="#">
                                    Learn More
                                </a>
                            </center>
                        </a>
                    </div>
                    <!--end feature-->
                </div>
                <div class="col-md-4">
                    <div class="feature feature-3 boxed boxed--lg boxed--border">
                        <a href="{% url 'reviewer_products_main' %}">
                            <center>
                                <i class="far fa-images fa-4x color--success"></i>
                                <h4>Approved Products</h4>
                                <h1>
                                    {{approved.count}}
                                </h1>
                                <a href="#">
                                    Learn More
                                </a>
                            </center>
                        </a>
                    </div>
                    <!--end feature-->
                </div>
                <div class="col-md-4">
                    <div class="feature feature-3 boxed boxed--lg boxed--border">
                        <a href="{% url 'reviewer_products_main' %}">
                            <center>
                                <i class="far fa-images fa-4x color--error"></i>
                                <h4>Rejected Products</h4>
                                <h1>
                                    {{rejected.count}}
                                </h1>
                                <a href="#">
                                    Learn More
                                </a>
                            </center>
                        </a>
                    </div>
                    <!--end feature-->
                </div>
            </div>
            <!--end of row-->
        </div>