<div class="container">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature feature-3 boxed boxed--lg boxed--border">
                        <a href="{% url 'admin_users' %}">
                            <center>
                                <i class="fas fa-users fa-4x color--primary-1"></i>
                                <h4>Users</h4>
                                <h1>
                                    {{users.count}}
                                </h1>
                            </center>
                        </a>
                    </div>
                    <!--end feature-->
                </div>
                <div class="col-md-4">
                    <div class="feature feature-3 boxed boxed--lg boxed--border">
                        <a href="{% url 'admin_users' %}">
                            <center>
                                <i class="fas fa-users fa-4x color--warn"></i>
                                <h4>Contributors</h4>
                                <h1>
                                    {{contributors.count}}
                                </h1>
                            </center>
                        </a>
                    </div>
                    <!--end feature-->
                </div>
                <div class="col-md-4">
                    <div class="feature feature-3 boxed boxed--lg boxed--border">
                        <a href="{% url 'admin_users' %}">
                            <center>
                                <i class="fas fa-users fa-4x color--primary"></i>
                                <h4>Clients</h4>
                                <h1>
                                    {{clients.count}}
                                </h1>
                            </center>
                        </a>
                    </div>
                    <!--end feature-->
                </div>
                <div class="col-md-4">
                    <div class="feature feature-3 boxed boxed--lg boxed--border">
                        <a href="{% url 'admin_orders_main' %}">
                            <center>
                                <i class="fas fa-money-bill-wave-alt fa-4x" style="color:purple"></i>
                                <h4>Sales</h4>
                                <h1>
                                    $ {{sales}}
                                </h1>
                            </center>
                        </a>
                    </div>
                    <!--end feature-->
                </div>
                <div class="col-md-4">
                    <div class="feature feature-3 boxed boxed--lg boxed--border">
                        <a href="{% url 'admin_earnings_main' %}">
                            <center>
                                <i class="fas fa-money-bill-wave-alt fa-4x color--success"></i>
                                <h4>Earnings</h4>
                                <h1>
                                    $ {{earnings}}
                                </h1>
                            </center>
                        </a>
                    </div>
                    <!--end feature-->
                </div>
                <div class="col-md-4">
                    <div class="feature feature-3 boxed boxed--lg boxed--border">
                        <a href="{% url 'admin_earnings_main' %}">
                            <center>
                                <i class="fas fa-money-bill-wave-alt fa-4x color--error"></i>
                                <h4>Owed</h4>
                                <h1>
                                    $ {{owed}}
                                </h1>
                            </center>
                        </a>
                    </div>
                    <!--end feature-->
                </div>
                <div class="col-md-4">
                    <div class="feature feature-3 boxed boxed--lg boxed--border">
                        <a href="{% url 'admin_products_main' %}">
                            <center>
                                <i class="far fa-images fa-4x" style="color:purple"></i>
                                <h4>Pending Products</h4>
                                <h1>
                                    {{pending.count}}
                                </h1>
                            </center>
                        </a>
                    </div>
                    <!--end feature-->
                </div>
                <div class="col-md-4">
                    <div class="feature feature-3 boxed boxed--lg boxed--border">
                        <a href="{% url 'admin_products_main' %}">
                            <center>
                                <i class="far fa-images fa-4x color--success"></i>
                                <h4>Approved Products</h4>
                                <h1>
                                    {{approved.count}}
                                </h1>
                            </center>
                        </a>
                    </div>
                    <!--end feature-->
                </div>
                <div class="col-md-4">
                    <div class="feature feature-3 boxed boxed--lg boxed--border">
                        <a href="{% url 'admin_products_main' %}">
                            <center>
                                <i class="far fa-images fa-4x color--error"></i>
                                <h4>Rejected Products</h4>
                                <h1>
                                    {{rejected.count}}
                                </h1>
                            </center>
                        </a>
                    </div>
                    <!--end feature-->
                </div>
            </div>
            <!--end of row-->
        </div>