{% extends "ssw/main.html" %}
{% load static from staticfiles %}

{% block title %}
Recover Account
{% endblock %}

{% block content %}
<section class="height-100 text-center">
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-7 col-lg-5">
                <h2>Recover your account</h2>
                <p class="lead">
                    Enter email address to send a recovery email.
                </p>
                <form method="post" action="">
                    {% csrf_token %}
                    <input type="email" name="email" id="email" placeholder="Email Address">
                    <button class="btn sowar_stock_color type--uppercase" type="submit">Recover Account</button>
                </form>
                <span class="type--fine-print block">Dont have an account yet?
                    <a href="/signup">Create account</a>
                </span>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock %}