{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %}
{% trans "Reset Password"%}
{% endblock %}

{% block content %}
<section class="height-100 text-center">
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-7 col-lg-5">
                <h2>{% trans "Reset your password"%}</h2>
                <form method="post" action="">
                    {% csrf_token %}
                    {{form}}
                    <button class="btn sowar_stock_color type--uppercase" type="submit">{% trans "Reset Password"%}</button>
                </form>
                <span class="type--fine-print block">{% trans "Dont have an account yet?"%}
                    <a href="/signup">{% trans "Create account"%}</a>
                </span>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock %}

{% block js %}
<script>
    $(document).ready(function(){
        $("form").on("submit",function(e){
            var password1 = $("#password1").val()
            var password2 = $("#password2").val()
            if(password1 != password2){
                e.preventDefault()
            }
        })
    })
</script>
{% endblock %}