{% extends "ssw/main.html" %}
{% load static from staticfiles %}

{% block title %}
Thanks for Joining
{% endblock %}

{% block content %}
<section class="height-100 text-center">
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-7">
                <h2>Thanks for your payment. You should receive an email shortly with your receipt from Paypal</h2>
                <h2>You will also receive another email when your order is ready to view in your
                    <a href="{% url 'orders' %}">orders</a> page.</h2>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock %}