{% extends "ssw/main.html" %}
{% load static from staticfiles %}
{% load i18n %}
{% block title %}
{% trans "Thanks for Joining"%}
{% endblock %}

{% block content %}
<section class="height-100 text-center">
    <div class="container pos-vertical-center">
        <div class="row">
            <div class="col-md-7 col-lg-5">
                <h2>{% trans "Thanks for joining Sowarstock's website. Please complete the registration by verifying your email."%}</h2>
            </div>
        </div>
        <!--end of row-->
    </div>
    <!--end of container-->
</section>
{% endblock %}