h1, h2, h4, h5, p, a {
    text-align: right;
}

@media (min-width: 990px)
.menu-horizontal > li:not(:last-child) {
    margin-right: 0em;
    margin-left: 1.85714286em;
}


.menu-horizontal li:not(:last-child) {
    margin-right:0em;
    margin-left: 1.23809524em;
}


.bar-1 .bar__module + .bar__module {
    margin-left: 0em;
    margin-right: 1.85714286em;
}

.btn.btn--sm + .btn--sm {
    margin-left: 0em;
    margin-right: 0.92857143em;
}

.dropdown{
    text-align: right;
}

.list-inline li:not(:last-child) {
    margin-left: 1.85714286em;
    margin-right: 0em;
    text-align: center;
}

.list-inline li:last-child {
    text-align: center;
}

.list-inline:not(:last-child) {
    margin-left: 1.85714286em;
    margin-right: 0em;
}

footer .logo:not(:last-child) {
    margin-left: 1.85714286em;
    margin-right: 0em;
}

footer a.type--fine-print:not(:first-child) {
    margin-right: 1.85714286em;
    margin-left: 0em;
}

.wizard > .steps li:first-child a:after{
    left:0;
}

.wizard > .steps li:last-child a:after{
    left: 9.2em;
}

.wizard > .steps .current a,
.wizard > .steps .disabled a,
.wizard > .steps .done a{
    padding-right: 5em;
}

.col-md-1 {
    width: 100%;
}

.tabs-content > .active > .tab__content{
    text-align: start;
}

.tabs-container{
    float: right;
}